.info {
  padding-top: 20px;
  padding-bottom: 75px;
}
.info__breadcrumb {
  margin-bottom: 20px;
}
.info__left {
  width: 455px;
}
.info__title {
  margin-bottom: 40px;
}
.info__text {
  font-size: 24px;
  line-height: 38px;
}
.info__text p {
  margin-bottom: 20px;
}
.info__text p:last-child {
  margin-bottom: 0;
}
.info__right {
  width: calc(100% - 455px);
  padding-left: 15px;
}
.info__images {
  position: relative;
}
.info .info__slider {
  overflow: hidden;
  border-radius: 4px;
}
.info .info__slider-item {
  height: 430px;
}
.info .info__slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info .info__pagination {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
.info .info__pagination-item {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}
.info .info__pagination-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info__desc-bottom {
  margin-top: 25px;
}
.info__subtitle {
  font-size: 35px;
  line-height: 43px;
  font-family: "Montserrat", sans-serif;
  color: #262626;
  letter-spacing: -0.005em;
}
.info__video {
  margin-top: 30px;
}
.info__video-title {
  margin-bottom: 30px;
}
.info__video-wrap {
  height: 320px;
}
.info__rec {
  margin-top: 40px;
}
.info__rec-head {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}
.info__rec-add-all {
  font-size: 24px;
  line-height: 38px;
  color: #F05454;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
  margin-left: auto;
  cursor: pointer;
}
.info__rec-add-all:hover {
  border-color: #F05454;
}
.info__rec-list {
  margin: 0 -10px;
}
.info__rec-item {
  width: calc(25% - 20px);
  margin: 0 10px;
}

@media screen and (max-width: 991px) {
  .info .case {
    max-width: 540px;
  }
  .info__left {
    width: 100%;
  }
  .info__title {
    font-size: 42px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .info__right {
    width: 100%;
    padding-left: 0;
    margin-top: 20px;
  }
  .info__rec-head {
    flex-direction: column;
    align-items: flex-start;
  }
  .info__rec-add-all {
    margin-left: 0;
  }
  .info__rec-list {
    margin-bottom: -20px;
  }
  .info__rec-item {
    width: calc(50% - 20px);
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .info {
    padding-top: 77px;
    padding-bottom: 0;
  }
  .info__return {
    margin-bottom: 5px;
  }
  .info__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .info__right {
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  .info .info__slider {
    overflow: visible;
  }
  .info .info__slider-item {
    position: relative;
    height: 190px;
    border-radius: 4px;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 7px;
    transition: 0.3s;
  }
  .info .info__slider-item.swiper-slide-active {
    padding-top: 0;
    padding-bottom: 0;
  }
  .info .info__slider-item.swiper-slide-prev {
    left: -10px;
  }
  .info .info__slider-item.swiper-slide-next {
    right: -10px;
  }
  .info .info__pagination {
    position: static;
    margin-top: 11px;
  }
  .info .info__pagination-item {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background: #F05454;
    transition: 0.3s;
    margin-right: 4px !important;
  }
  .info .info__pagination-item.swiper-slide-thumb-active {
    width: 29px;
  }
  .info .info__pagination-item img {
    display: none;
  }
  .info__left {
    order: 2;
  }
  .info__desc-top {
    padding-top: 20px;
    font-weight: 700;
  }
  .info__text {
    font-size: 16px;
    line-height: 22px;
  }
  .info__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
  .info__rec {
    margin-top: 30px;
  }
  .info__rec-head {
    margin-bottom: 13px;
  }
  .info__rec-add-all {
    display: none;
  }
  .info__video-title {
    margin-bottom: 13px;
  }
  .info__video-wrap {
    height: 235px;
  }
}
@media screen and (max-width: 479px) {
  .info__rec-item {
    width: calc(100% - 10px);
  }
}