<div class="info"><div class="case case_sm">
<!--[--><link rel="stylesheet" href="template/blocks/breadcrumb/breadcrumb.css?ver=1656506759497"/><div class="return info__return hidden show-xs-flex"><div class="return__button">
<svg class="icon icon_chevron f-red">
<use xlink:href="#icon-chevron"></use>
</svg>
<span>Назад</span>
</div></div><link rel="stylesheet" href="template/blocks/return/return.css?ver=1656506759497"/><!----><div class="info__title hidden show-xs"></div><div class="info__inner row">
<div class="info__left"><div class="h1 info__title hidden-xs"></div><div class="info__desc-top info__text"></div></div>
<div class="info__right">
<div class="info__images">
<div class="info__slider swiper">
<div class="info__slider-list swiper-wrapper">
<div class="info__slider-item swiper-slide"><img src="/uploads/product.jpg" alt=""></div>
<div class="info__slider-item swiper-slide"><img src="/uploads/product.jpg" alt=""></div>
<div class="info__slider-item swiper-slide"><img src="/uploads/product.jpg" alt=""></div>
<div class="info__slider-item swiper-slide"><img src="/uploads/product.jpg" alt=""></div>
<div class="info__slider-item swiper-slide"><img src="/uploads/product.jpg" alt=""></div>
<div class="info__slider-item swiper-slide"><img src="/uploads/product.jpg" alt=""></div>
</div>
</div>
<div class="info__pagination swiper">
<div class="info__pagination-list swiper-wrapper">
<!--[-->
<div class="info__pagination-item swiper-slide swiper-slide-visible"><img src="/uploads/product.jpg" alt=""></div>
<div class="info__pagination-item swiper-slide swiper-slide-visible"><img src="/uploads/product.jpg" alt=""></div>
<div class="info__pagination-item swiper-slide swiper-slide-visible"><img src="/uploads/product.jpg" alt=""></div>
<div class="info__pagination-item swiper-slide swiper-slide-visible"><img src="/uploads/product.jpg" alt=""></div>
<div class="info__pagination-item swiper-slide swiper-slide-visible"><img src="/uploads/product.jpg" alt=""></div>
<div class="info__pagination-item swiper-slide swiper-slide-visible"><img src="/uploads/product.jpg" alt=""></div>
<div class="info__pagination-item swiper-slide swiper-slide-visible"><img src="/uploads/product.jpg" alt=""></div>
<!--]-->
</div>
</div>
</div>
</div>
</div><div class="info__desc-bottom info__text"></div></div>
</div></div>