extends ../../templates/default
block vars
  -
    title = "Контакты"
    breadcrumbs = [
      ['Главная', 'index.html'],
      [title]
    ]
block content
  include ../../../blocks/contact/contact
  +style('contact', 'blocks')
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
  +script('contact', 'blocks')
  
  - actualClass = 'actual_mt-minus hidden-xs'
  include ../../../blocks/actual/actual
  +style('actual', 'blocks')

  - questionsClass = 'questions_mt-minus hidden-xs'
  include ../../../blocks/questions/questions
  +style('questions', 'blocks')
  