<div class="actual bgw"><div class="case">
<!--[-->
<div class="btop actual__btop">
<div class="h2 btop__title">
<!--[--><!--[-->Актуальное<!--]--><!--]-->
</div>
<div class="btop__link"><a href="/news">Показать все</a></div>
</div>
<div class="actual__wrap">
<div class="actual__nav">
<div class="actual__nav-list row">
<!--[-->
<div class="actual__nav-item actual__nav-item_current" data-text="Все">Все</div>
<div class="actual__nav-item" data-text="Новости">Новости</div>
<div class="actual__nav-item" data-text="Акции">Акции</div>
<!--]-->
</div>
</div>
<div class="actual__tabs">
<!--[-->
<div class="actual__tab" style="">
<div class="actual__slider swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
<div class="actual__list swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
<!--[-->
<a class="actual__item_show actual__item swiper-slide " href="/news/item" style="margin-right: 10px;">
<div class="actual__item-img img"><img src="/uploads/actual/1.png" alt=""></div>
<div class="actual__item-title">Ломается ли ваг? После тюнинга</div>
<div class="actual__item-text">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="actual__item-data row">
<div class="actual__item-date">12 января</div>
<div class="actual__item-cat">Видеоблог</div>
</div>
</a>
<a class="actual__item_show actual__item swiper-slide " href="/news/item" style="margin-right: 10px;">
<div class="actual__item-img img"><img src="/uploads/actual/2.png" alt=""></div>
<div class="actual__item-title">Ломается ли ваг? После тюнинга</div>
<div class="actual__item-text">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="actual__item-data row">
<div class="actual__item-date">12 января</div>
<div class="actual__item-cat">Видеоблог</div>
</div>
</a>
<a class="actual__item swiper-slide" href="/news/item" style="margin-right: 10px;">
<div class="actual__item-img img"><img src="/uploads/actual/1.png" alt=""></div>
<div class="actual__item-title">Ломается ли ваг? После тюнинга</div>
<div class="actual__item-text">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="actual__item-data row">
<div class="actual__item-date">12 января</div>
<div class="actual__item-cat">Видеоблог</div>
</div>
</a>
<a class="actual__item swiper-slide" href="/news/item" style="margin-right: 10px;">
<div class="actual__item-img img"><img src="/uploads/actual/2.png" alt=""></div>
<div class="actual__item-title">Ломается ли ваг? После тюнинга</div>
<div class="actual__item-text">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="actual__item-data row">
<div class="actual__item-date">12 января</div>
<div class="actual__item-cat">Видеоблог</div>
</div>
</a>
<a class="actual__item swiper-slide" href="/news/item" style="margin-right: 10px;">
<div class="actual__item-img img"><img src="/uploads/actual/1.png" alt=""></div>
<div class="actual__item-title">Ломается ли ваг? После тюнинга</div>
<div class="actual__item-text">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="actual__item-data row">
<div class="actual__item-date">12 января</div>
<div class="actual__item-cat">Видеоблог</div>
</div>
</a>
<a class="actual__item swiper-slide" href="/news/item" style="margin-right: 10px;">
<div class="actual__item-img img"><img src="/uploads/actual/2.png" alt=""></div>
<div class="actual__item-title">Ломается ли ваг? После тюнинга</div>
<div class="actual__item-text">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="actual__item-data row">
<div class="actual__item-date">12 января</div>
<div class="actual__item-cat">Видеоблог</div>
</div>
</a>
<a class="actual__item swiper-slide" href="/news/item" style="margin-right: 10px;">
<div class="actual__item-img img"><img src="/uploads/actual/1.png" alt=""></div>
<div class="actual__item-title">Ломается ли ваг? После тюнинга</div>
<div class="actual__item-text">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="actual__item-data row">
<div class="actual__item-date">12 января</div>
<div class="actual__item-cat">Видеоблог</div>
</div>
</a>
<a class="actual__item swiper-slide" href="/news/item" style="margin-right: 10px;">
<div class="actual__item-img img"><img src="/uploads/actual/2.png" alt=""></div>
<div class="actual__item-title">Ломается ли ваг? После тюнинга</div>
<div class="actual__item-text">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="actual__item-data row">
<div class="actual__item-date">12 января</div>
<div class="actual__item-cat">Видеоблог</div>
</div>
</a>
<!--]-->
</div>
</div>
<div class="actual__more" style="">
<span>Показать еще</span>
<svg class="icon icon_chevron f-red">
<use xlink:href="#icon-chevron"></use>
</svg>
</div>
</div>
<div class="actual__tab" style="display: none;">
<div class="actual__slider swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
<div class="actual__list swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
<!--[-->
<a class="actual__item_show actual__item swiper-slide " href="/news/item" style="margin-right: 10px;">
<div class="actual__item-img img"><img src="/uploads/actual/2.png" alt=""></div>
<div class="actual__item-title">Ломается ли ваг? После тюнинга</div>
<div class="actual__item-text">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="actual__item-data row">
<div class="actual__item-date">12 января</div>
<div class="actual__item-cat">Видеоблог</div>
</div>
</a>
<a class="actual__item_show actual__item swiper-slide " href="/news/item" style="margin-right: 10px;">
<div class="actual__item-img img"><img src="/uploads/actual/1.png" alt=""></div>
<div class="actual__item-title">Ломается ли ваг? После тюнинга</div>
<div class="actual__item-text">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="actual__item-data row">
<div class="actual__item-date">12 января</div>
<div class="actual__item-cat">Видеоблог</div>
</div>
</a>
<a class="actual__item swiper-slide" href="/news/item" style="margin-right: 10px;">
<div class="actual__item-img img"><img src="/uploads/actual/2.png" alt=""></div>
<div class="actual__item-title">Ломается ли ваг? После тюнинга</div>
<div class="actual__item-text">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="actual__item-data row">
<div class="actual__item-date">12 января</div>
<div class="actual__item-cat">Видеоблог</div>
</div>
</a>
<a class="actual__item swiper-slide" href="/news/item" style="margin-right: 10px;">
<div class="actual__item-img img"><img src="/uploads/actual/1.png" alt=""></div>
<div class="actual__item-title">Ломается ли ваг? После тюнинга</div>
<div class="actual__item-text">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="actual__item-data row">
<div class="actual__item-date">12 января</div>
<div class="actual__item-cat">Видеоблог</div>
</div>
</a>
<a class="actual__item swiper-slide" href="/news/item" style="margin-right: 10px;">
<div class="actual__item-img img"><img src="/uploads/actual/2.png" alt=""></div>
<div class="actual__item-title">Ломается ли ваг? После тюнинга</div>
<div class="actual__item-text">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="actual__item-data row">
<div class="actual__item-date">12 января</div>
<div class="actual__item-cat">Видеоблог</div>
</div>
</a>
<a class="actual__item swiper-slide" href="/news/item" style="margin-right: 10px;">
<div class="actual__item-img img"><img src="/uploads/actual/1.png" alt=""></div>
<div class="actual__item-title">Ломается ли ваг? После тюнинга</div>
<div class="actual__item-text">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="actual__item-data row">
<div class="actual__item-date">12 января</div>
<div class="actual__item-cat">Видеоблог</div>
</div>
</a>
<a class="actual__item swiper-slide" href="/news/item" style="margin-right: 10px;">
<div class="actual__item-img img"><img src="/uploads/actual/2.png" alt=""></div>
<div class="actual__item-title">Ломается ли ваг? После тюнинга</div>
<div class="actual__item-text">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="actual__item-data row">
<div class="actual__item-date">12 января</div>
<div class="actual__item-cat">Видеоблог</div>
</div>
</a>
<a class="actual__item swiper-slide" href="/news/item" style="margin-right: 10px;">
<div class="actual__item-img img"><img src="/uploads/actual/1.png" alt=""></div>
<div class="actual__item-title">Ломается ли ваг? После тюнинга</div>
<div class="actual__item-text">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="actual__item-data row">
<div class="actual__item-date">12 января</div>
<div class="actual__item-cat">Видеоблог</div>
</div>
</a>
<a class="actual__item swiper-slide" href="/news/item" style="margin-right: 10px;">
<div class="actual__item-img img"><img src="/uploads/actual/2.png" alt=""></div>
<div class="actual__item-title">Ломается ли ваг? После тюнинга</div>
<div class="actual__item-text">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="actual__item-data row">
<div class="actual__item-date">12 января</div>
<div class="actual__item-cat">Видеоблог</div>
</div>
</a>
<!--]-->
</div>
</div>
<div class="actual__more" style="">
<span>Показать еще</span>
<svg class="icon icon_chevron f-red">
<use xlink:href="#icon-chevron"></use>
</svg>
</div>
</div>
<div class="actual__tab" style="display: none;">
<div class="actual__slider swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
<div class="actual__list swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
<!--[-->
<a class="actual__item_show actual__item swiper-slide " href="/news/item" style="margin-right: 10px;">
<div class="actual__item-img img"><img src="/uploads/actual/1.png" alt=""></div>
<div class="actual__item-title">Ломается ли ваг? После тюнинга</div>
<div class="actual__item-text">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="actual__item-data row">
<div class="actual__item-date">12 января</div>
<div class="actual__item-cat">Видеоблог</div>
</div>
</a>
<a class="actual__item_show actual__item swiper-slide " href="/news/item" style="margin-right: 10px;">
<div class="actual__item-img img"><img src="/uploads/actual/2.png" alt=""></div>
<div class="actual__item-title">Ломается ли ваг? После тюнинга</div>
<div class="actual__item-text">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="actual__item-data row">
<div class="actual__item-date">12 января</div>
<div class="actual__item-cat">Видеоблог</div>
</div>
</a>
<a class="actual__item swiper-slide" href="/news/item" style="margin-right: 10px;">
<div class="actual__item-img img"><img src="/uploads/actual/1.png" alt=""></div>
<div class="actual__item-title">Ломается ли ваг? После тюнинга</div>
<div class="actual__item-text">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="actual__item-data row">
<div class="actual__item-date">12 января</div>
<div class="actual__item-cat">Видеоблог</div>
</div>
</a>
<a class="actual__item swiper-slide" href="/news/item" style="margin-right: 10px;">
<div class="actual__item-img img"><img src="/uploads/actual/2.png" alt=""></div>
<div class="actual__item-title">Ломается ли ваг? После тюнинга</div>
<div class="actual__item-text">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="actual__item-data row">
<div class="actual__item-date">12 января</div>
<div class="actual__item-cat">Видеоблог</div>
</div>
</a>
<a class="actual__item swiper-slide" href="/news/item" style="margin-right: 10px;">
<div class="actual__item-img img"><img src="/uploads/actual/1.png" alt=""></div>
<div class="actual__item-title">Ломается ли ваг? После тюнинга</div>
<div class="actual__item-text">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="actual__item-data row">
<div class="actual__item-date">12 января</div>
<div class="actual__item-cat">Видеоблог</div>
</div>
</a>
<a class="actual__item swiper-slide" href="/news/item" style="margin-right: 10px;">
<div class="actual__item-img img"><img src="/uploads/actual/2.png" alt=""></div>
<div class="actual__item-title">Ломается ли ваг? После тюнинга</div>
<div class="actual__item-text">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="actual__item-data row">
<div class="actual__item-date">12 января</div>
<div class="actual__item-cat">Видеоблог</div>
</div>
</a>
<a class="actual__item swiper-slide" href="/news/item" style="margin-right: 10px;">
<div class="actual__item-img img"><img src="/uploads/actual/1.png" alt=""></div>
<div class="actual__item-title">Ломается ли ваг? После тюнинга</div>
<div class="actual__item-text">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="actual__item-data row">
<div class="actual__item-date">12 января</div>
<div class="actual__item-cat">Видеоблог</div>
</div>
</a>
<a class="actual__item swiper-slide" href="/news/item" style="margin-right: 10px;">
<div class="actual__item-img img"><img src="/uploads/actual/2.png" alt=""></div>
<div class="actual__item-title">Ломается ли ваг? После тюнинга</div>
<div class="actual__item-text">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="actual__item-data row">
<div class="actual__item-date">12 января</div>
<div class="actual__item-cat">Видеоблог</div>
</div>
</a>
<!--]-->
</div>
</div>
<div class="actual__more" style="">
<span>Показать еще</span>
<svg class="icon icon_chevron f-red">
<use xlink:href="#icon-chevron"></use>
</svg>
</div>
</div>
<!--]-->
</div>
</div>
<!--]-->
</div>
<div class="actual__bg bg"><img src="/uploads/actual.jpg" alt=""></div></div>