.check {
  cursor: pointer;
}
.check__input {
  display: none;
}

.checkbox__wrap {
  display: flex;
  justify-content: center;
  width: 100%;
}
.checkbox__box {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  width: 24px;
  height: 24px;
  background: #F2F3F5;
  border: 1px solid #E2E4E9;
  border-radius: 6px;
}
.checkbox__box svg {
  opacity: 0;
  transform: scale(0);
  transition: 0.3s;
}
.checkbox__text {
  max-width: calc(100% - 24px);
  padding-left: 16px;
}
.checkbox.--checked .checkbox__box svg {
  opacity: 1;
  transform: scale(1);
}