.check {
  display: inline-flex;
  cursor: pointer;
}
.check__input {
  display: none;
}
.check__box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.3s;
}
.check__box:before {
  content: "";
  width: 100%;
  height: 100%;
  transition: 0.3s;
  opacity: 0;
  border-radius: 3px;
  transform: scale(0);
  background-color: #000000;
}
.check.--block {
  display: flex;
}
.check.--b-gray .check__box {
  border: 1px solid #eee;
}
.check.--md .check__box {
  min-width: 20px;
  width: 20px;
  height: 20px;
  padding: 3px;
}
.check.--md .check__wrap {
  width: calc(100% - 20px);
  padding-left: 10px;
  padding-top: 2px;
}
.check.--checkbox .check__box {
  border-radius: 5px;
}
.check.--radio .check__box {
  border-radius: 50%;
}
.check.--radio .check__box:before {
  border-radius: 50%;
}
.check.--toggle .check__box {
  width: 40px;
}
.check.--toggle .check__box:before {
  opacity: 0.4;
  width: 12px;
  transform: none;
  margin-left: 12px;
}
.check.--toggle.--checked .check__box:before {
  opacity: 1;
  margin-left: -12px;
}
.check.--checked .check__box:before {
  opacity: 1;
  transform: scale(1);
}