include ../../pug/vars

div(class="group bgw tabs" class=groupClass class=actualClass data-current-link="group__nav-item_current" data-current-tab="group__tab_current")

	<div class="case">
		<!--[-->
		<div class="btop group__btop">
			div(class="h2 btop__title")= groupTitle ? groupTitle : 'Главное'
			<div class="btop__link"><a href="catalog.html">Показать все</a></div>
		</div>
		<div class="group__inner">
			<div class="group__nav">
				<div class="group__nav-list">
					<!--[-->
					<div class="group__nav-item tabs__link" data-text="Популярное" data-el="group-1">Популярное</div>
					<div class="group__nav-item tabs__link" data-text="Новинки" data-el="group-2">Новинки</div>
					<div class="group__nav-item tabs__link" data-text="Акции" data-el="group-3">Акции</div>
					<!--]-->
				</div>
			</div>
			<div class="group__tabs">
				<!--[-->
				<div class="group__tab" id="group-1">
					<div class="group__slider swiper swiper-initialized swiper-horizontal swiper-pointer-events">
						<div class="group__list swiper-wrapper" style="transition-duration: 0ms;">
							<!--[-->
							<a class="product product_col group__item swiper-slide" href="/catalog-item.html">
								<div class="product__inner">
									<div class="product__img img"><img src="/uploads/products/product-1.jpg" alt="Винтовая подвеска BCR"></div>
									<div class="product__content">
										<div class="product__title">Винтовая подвеска BCR</div>
										<div class="product__desc">Уникальное решение для точной настройки хода подвела меня тут</div>
										<div class="product__data">
											<div class="product__price">
												<div class="product__price-current">12&nbsp;325 <span class="r"></span></div>
												<div class="product__price-old">22&nbsp;759 <span class="r"></span></div>
											</div>
											<!--v-if--><!--v-if--><!--v-if-->
											<div class="product__button-add nk">
												<svg class="icon icon_cart-add">
													<use xlink:href="#icon-cart-add"></use>
												</svg>
											</div>
											<!--v-if-->
										</div>
									</div>
								</div>
								<!--v-if-->
								.product__modal.form
									<div class="form__head"><div class="form__title">Выберите свойства</div><div class="form__close modal__close popup-close"></div></div>
									.form__inner
										<div class="product__modal-inner">
											<div class="product__sets">
												<div class="product__sets-title">Максимальное занижение</div>
												<div class="product__sets-list row">
													<div class="plus form__sets-item plus_md plus_gray check">
														<input type="checkbox" class="check__input" name="sets" value="10 мм">
														<div class="plus__inner">
															<div class="plus__value">10 мм</div>
															<div class="plus__icon">
																<div></div>
																<div></div>
															</div>
														</div>
													</div>
													<div class="plus form__sets-item plus_md plus_gray check">
														<input type="checkbox" class="check__input" name="sets" value="15 мм">
														<div class="plus__inner">
															<div class="plus__value">15 мм</div>
															<div class="plus__icon">
																<div></div>
																<div></div>
															</div>
														</div>
													</div>
													<div class="plus form__sets-item plus_md plus_gray check">
														<input type="checkbox" class="check__input" name="sets" value="20 мм">
														<div class="plus__inner">
															<div class="plus__value">20 мм</div>
															<div class="plus__icon">
																<div></div>
																<div></div>
															</div>
														</div>
													</div>
													<div class="plus form__sets-item plus_md plus_gray check">
														<input type="checkbox" class="check__input" name="sets" value="32 мм">
														<div class="plus__inner">
															<div class="plus__value">32 мм</div>
															<div class="plus__icon">
																<div></div>
																<div></div>
															</div>
														</div>
													</div>
													<div class="plus form__sets-item plus_md plus_gray check">
														<input type="checkbox" class="check__input" name="sets" value="35 мм">
														<div class="plus__inner">
															<div class="plus__value">35 мм</div>
															<div class="plus__icon">
																<div></div>
																<div></div>
															</div>
														</div>
													</div>
													<div class="plus form__sets-item plus_md plus_gray check">
														<input type="checkbox" class="check__input" name="sets" value="40 мм">
														<div class="plus__inner">
															<div class="plus__value">40 мм</div>
															<div class="plus__icon">
																<div></div>
																<div></div>
															</div>
														</div>
													</div>
													<div class="plus form__sets-item plus_md plus_gray check">
														<input type="checkbox" class="check__input" name="sets" value="50 мм">
														<div class="plus__inner">
															<div class="plus__value">50 мм</div>
															<div class="plus__icon">
																<div></div>
																<div></div>
															</div>
														</div>
													</div>
												</div>
												<div class="product__sets-error" style="display: none;">Выберите хотя бы одно свойство</div>
												<div class="button button_md button_bg-red button_shadow-black product__sets-button"><!--v-if--><!--v-if--><div class="button__text">Добавить в корзину</div><!--v-if--></div>
											</div>
										</div>
							</a>
							<a class="product product_col group__item swiper-slide" href="/catalog-item.html">
								<div class="product__inner">
									<div class="product__img img"><img src="/uploads/products/product-2.png" alt="Даунпайп для"></div>
									<div class="product__content">
										<div class="product__title">Даунпайп для</div>
										<div class="product__desc">7880 collection for the earth and human environment</div>
										<div class="product__data">
											<div class="product__price">
												<div class="product__price-current">25&nbsp;940 <span class="r"></span></div>
												<div class="product__price-old">52&nbsp;499 <span class="r"></span></div>
											</div>
											<!--v-if--><!--v-if--><!--v-if-->
											<div class="product__button-add nk">
												<svg class="icon icon_cart-add">
													<use xlink:href="#icon-cart-add"></use>
												</svg>
											</div>
											<!--v-if-->
										</div>
									</div>
								</div>
								<!--v-if--><!--v-if-->
							</a>
							<a class="product product_col group__item swiper-slide" href="/catalog-item.html">
								<div class="product__inner">
									<div class="product__img img"><img src="/uploads/products/product-1.jpg" alt="Винтовая подвеска BCR"></div>
									<div class="product__content">
										<div class="product__title">Винтовая подвеска BCR</div>
										<div class="product__desc">Уникальное решение для точной настройки хода подвела меня тут</div>
										<div class="product__data">
											<div class="product__price">
												<div class="product__price-current">12&nbsp;325 <span class="r"></span></div>
												<div class="product__price-old">22&nbsp;759 <span class="r"></span></div>
											</div>
											<!--v-if--><!--v-if--><!--v-if-->
											<div class="product__button-add nk">
												<svg class="icon icon_cart-add">
													<use xlink:href="#icon-cart-add"></use>
												</svg>
											</div>
											<!--v-if-->
										</div>
									</div>
								</div>
								<!--v-if-->
							</a>
							<a class="product product_col group__item swiper-slide" href="/catalog-item.html">
								<div class="product__inner">
									<div class="product__img img"><img src="/uploads/products/product-2.png" alt="Даунпайп для"></div>
									<div class="product__content">
										<div class="product__title">Даунпайп для</div>
										<div class="product__desc">7880 collection for the earth and human environment</div>
										<div class="product__data">
											<div class="product__price">
												<div class="product__price-current">25&nbsp;940 <span class="r"></span></div>
												<div class="product__price-old">52&nbsp;499 <span class="r"></span></div>
											</div>
											<!--v-if--><!--v-if--><!--v-if-->
											<div class="product__button-add nk">
												<svg class="icon icon_cart-add">
													<use xlink:href="#icon-cart-add"></use>
												</svg>
											</div>
											<!--v-if-->
										</div>
									</div>
								</div>
								<!--v-if--><!--v-if-->
							</a>
							<a class="product product_col group__item swiper-slide" href="/catalog-item.html">
								<div class="product__inner">
									<div class="product__img img"><img src="/uploads/products/product-1.jpg" alt="Винтовая подвеска BCR"></div>
									<div class="product__content">
										<div class="product__title">Винтовая подвеска BCR</div>
										<div class="product__desc">Уникальное решение для точной настройки хода подвела меня тут</div>
										<div class="product__data">
											<div class="product__price">
												<div class="product__price-current">12&nbsp;325 <span class="r"></span></div>
												<div class="product__price-old">22&nbsp;759 <span class="r"></span></div>
											</div>
											<!--v-if--><!--v-if--><!--v-if-->
											<div class="product__button-add nk">
												<svg class="icon icon_cart-add">
													<use xlink:href="#icon-cart-add"></use>
												</svg>
											</div>
											<!--v-if-->
										</div>
									</div>
								</div>
								<!--v-if-->
							</a>
							<a class="product product_col group__item swiper-slide" href="/catalog-item.html">
								<div class="product__inner">
									<div class="product__img img"><img src="/uploads/products/product-2.png" alt="Даунпайп для"></div>
									<div class="product__content">
										<div class="product__title">Даунпайп для</div>
										<div class="product__desc">7880 collection for the earth and human environment</div>
										<div class="product__data">
											<div class="product__price">
												<div class="product__price-current">25&nbsp;940 <span class="r"></span></div>
												<div class="product__price-old">52&nbsp;499 <span class="r"></span></div>
											</div>
											<!--v-if--><!--v-if--><!--v-if-->
											<div class="product__button-add nk">
												<svg class="icon icon_cart-add">
													<use xlink:href="#icon-cart-add"></use>
												</svg>
											</div>
											<!--v-if-->
										</div>
									</div>
								</div>
								<!--v-if--><!--v-if-->
							</a>
							<a class="product product_col group__item swiper-slide" href="/catalog-item.html">
								<div class="product__inner">
									<div class="product__img img"><img src="/uploads/products/product-1.jpg" alt="Винтовая подвеска BCR"></div>
									<div class="product__content">
										<div class="product__title">Винтовая подвеска BCR</div>
										<div class="product__desc">Уникальное решение для точной настройки хода подвела меня тут</div>
										<div class="product__data">
											<div class="product__price">
												<div class="product__price-current">12&nbsp;325 <span class="r"></span></div>
												<div class="product__price-old">22&nbsp;759 <span class="r"></span></div>
											</div>
											<!--v-if--><!--v-if--><!--v-if-->
											<div class="product__button-add nk">
												<svg class="icon icon_cart-add">
													<use xlink:href="#icon-cart-add"></use>
												</svg>
											</div>
											<!--v-if-->
										</div>
									</div>
								</div>
							</a>
							<a class="product product_col group__item swiper-slide" href="/catalog-item.html">
								<div class="product__inner">
									<div class="product__img img"><img src="/uploads/products/product-2.png" alt="Даунпайп для"></div>
									<div class="product__content">
										<div class="product__title">Даунпайп для</div>
										<div class="product__desc">7880 collection for the earth and human environment</div>
										<div class="product__data">
											<div class="product__price">
												<div class="product__price-current">25&nbsp;940 <span class="r"></span></div>
												<div class="product__price-old">52&nbsp;499 <span class="r"></span></div>
											</div>
											<!--v-if--><!--v-if--><!--v-if-->
											<div class="product__button-add nk">
												<svg class="icon icon_cart-add">
													<use xlink:href="#icon-cart-add"></use>
												</svg>
											</div>
											<!--v-if-->
										</div>
									</div>
								</div>
								<!--v-if--><!--v-if-->
							</a>
							<!--]-->
						</div>
					</div>
				</div>
				<div class="group__tab" id="group-2">
					<div class="group__slider swiper swiper-initialized swiper-horizontal swiper-pointer-events">
						<div class="group__list swiper-wrapper" style="transition-duration: 0ms;">
							<!--[-->
							<a class="product product_col group__item swiper-slide" href="/catalog-item.html">
								<div class="product__inner">
									<div class="product__img img"><img src="/uploads/products/product-1.jpg" alt="Винтовая подвеска BCR"></div>
									<div class="product__content">
										<div class="product__title">Винтовая подвеска BCR</div>
										<div class="product__desc">Уникальное решение для точной настройки хода подвела меня тут</div>
										<div class="product__data">
											<div class="product__price">
												<div class="product__price-current">12&nbsp;325 <span class="r"></span></div>
												<div class="product__price-old">22&nbsp;759 <span class="r"></span></div>
											</div>
											<!--v-if--><!--v-if--><!--v-if-->
											<div class="product__button-add nk">
												<svg class="icon icon_cart-add">
													<use xlink:href="#icon-cart-add"></use>
												</svg>
											</div>
											<!--v-if-->
										</div>
									</div>
								</div>
								<!--v-if-->
								.product__modal.form
									<div class="form__head"><div class="form__title">Выберите свойства</div><div class="form__close modal__close popup-close"></div></div>
									.form__inner
										<div class="product__modal-inner">
											<div class="product__sets">
												<div class="product__sets-title">Максимальное занижение</div>
												<div class="product__sets-list row">
													<div class="plus form__sets-item plus_md plus_gray check">
														<input type="checkbox" class="check__input" name="sets" value="10 мм">
														<div class="plus__inner">
															<div class="plus__value">10 мм</div>
															<div class="plus__icon">
																<div></div>
																<div></div>
															</div>
														</div>
													</div>
													<div class="plus form__sets-item plus_md plus_gray check">
														<input type="checkbox" class="check__input" name="sets" value="15 мм">
														<div class="plus__inner">
															<div class="plus__value">15 мм</div>
															<div class="plus__icon">
																<div></div>
																<div></div>
															</div>
														</div>
													</div>
													<div class="plus form__sets-item plus_md plus_gray check">
														<input type="checkbox" class="check__input" name="sets" value="20 мм">
														<div class="plus__inner">
															<div class="plus__value">20 мм</div>
															<div class="plus__icon">
																<div></div>
																<div></div>
															</div>
														</div>
													</div>
													<div class="plus form__sets-item plus_md plus_gray check">
														<input type="checkbox" class="check__input" name="sets" value="32 мм">
														<div class="plus__inner">
															<div class="plus__value">32 мм</div>
															<div class="plus__icon">
																<div></div>
																<div></div>
															</div>
														</div>
													</div>
													<div class="plus form__sets-item plus_md plus_gray check">
														<input type="checkbox" class="check__input" name="sets" value="35 мм">
														<div class="plus__inner">
															<div class="plus__value">35 мм</div>
															<div class="plus__icon">
																<div></div>
																<div></div>
															</div>
														</div>
													</div>
													<div class="plus form__sets-item plus_md plus_gray check">
														<input type="checkbox" class="check__input" name="sets" value="40 мм">
														<div class="plus__inner">
															<div class="plus__value">40 мм</div>
															<div class="plus__icon">
																<div></div>
																<div></div>
															</div>
														</div>
													</div>
													<div class="plus form__sets-item plus_md plus_gray check">
														<input type="checkbox" class="check__input" name="sets" value="50 мм">
														<div class="plus__inner">
															<div class="plus__value">50 мм</div>
															<div class="plus__icon">
																<div></div>
																<div></div>
															</div>
														</div>
													</div>
												</div>
												<div class="product__sets-error" style="display: none;">Выберите хотя бы одно свойство</div>
												<div class="button button_md button_bg-red button_shadow-black product__sets-button"><!--v-if--><!--v-if--><div class="button__text">Добавить в корзину</div><!--v-if--></div>
											</div>
										</div>
							</a>
							<a class="product product_col group__item swiper-slide" href="/catalog-item.html">
								<div class="product__inner">
									<div class="product__img img"><img src="/uploads/products/product-2.png" alt="Даунпайп для"></div>
									<div class="product__content">
										<div class="product__title">Даунпайп для</div>
										<div class="product__desc">7880 collection for the earth and human environment</div>
										<div class="product__data">
											<div class="product__price">
												<div class="product__price-current">25&nbsp;940 <span class="r"></span></div>
												<div class="product__price-old">52&nbsp;499 <span class="r"></span></div>
											</div>
											<!--v-if--><!--v-if--><!--v-if-->
											<div class="product__button-add nk">
												<svg class="icon icon_cart-add">
													<use xlink:href="#icon-cart-add"></use>
												</svg>
											</div>
											<!--v-if-->
										</div>
									</div>
								</div>
								<!--v-if--><!--v-if-->
							</a>
							<a class="product product_col group__item swiper-slide" href="/catalog-item.html">
								<div class="product__inner">
									<div class="product__img img"><img src="/uploads/products/product-1.jpg" alt="Винтовая подвеска BCR"></div>
									<div class="product__content">
										<div class="product__title">Винтовая подвеска BCR</div>
										<div class="product__desc">Уникальное решение для точной настройки хода подвела меня тут</div>
										<div class="product__data">
											<div class="product__price">
												<div class="product__price-current">12&nbsp;325 <span class="r"></span></div>
												<div class="product__price-old">22&nbsp;759 <span class="r"></span></div>
											</div>
											<!--v-if--><!--v-if--><!--v-if-->
											<div class="product__button-add nk">
												<svg class="icon icon_cart-add">
													<use xlink:href="#icon-cart-add"></use>
												</svg>
											</div>
											<!--v-if-->
										</div>
									</div>
								</div>
								<!--v-if-->
							</a>
							<a class="product product_col group__item swiper-slide" href="/catalog-item.html">
								<div class="product__inner">
									<div class="product__img img"><img src="/uploads/products/product-2.png" alt="Даунпайп для"></div>
									<div class="product__content">
										<div class="product__title">Даунпайп для</div>
										<div class="product__desc">7880 collection for the earth and human environment</div>
										<div class="product__data">
											<div class="product__price">
												<div class="product__price-current">25&nbsp;940 <span class="r"></span></div>
												<div class="product__price-old">52&nbsp;499 <span class="r"></span></div>
											</div>
											<!--v-if--><!--v-if--><!--v-if-->
											<div class="product__button-add nk">
												<svg class="icon icon_cart-add">
													<use xlink:href="#icon-cart-add"></use>
												</svg>
											</div>
											<!--v-if-->
										</div>
									</div>
								</div>
								<!--v-if--><!--v-if-->
							</a>
							<a class="product product_col group__item swiper-slide" href="/catalog-item.html">
								<div class="product__inner">
									<div class="product__img img"><img src="/uploads/products/product-1.jpg" alt="Винтовая подвеска BCR"></div>
									<div class="product__content">
										<div class="product__title">Винтовая подвеска BCR</div>
										<div class="product__desc">Уникальное решение для точной настройки хода подвела меня тут</div>
										<div class="product__data">
											<div class="product__price">
												<div class="product__price-current">12&nbsp;325 <span class="r"></span></div>
												<div class="product__price-old">22&nbsp;759 <span class="r"></span></div>
											</div>
											<!--v-if--><!--v-if--><!--v-if-->
											<div class="product__button-add nk">
												<svg class="icon icon_cart-add">
													<use xlink:href="#icon-cart-add"></use>
												</svg>
											</div>
											<!--v-if-->
										</div>
									</div>
								</div>
								<!--v-if-->
							</a>
							<a class="product product_col group__item swiper-slide" href="/catalog-item.html">
								<div class="product__inner">
									<div class="product__img img"><img src="/uploads/products/product-2.png" alt="Даунпайп для"></div>
									<div class="product__content">
										<div class="product__title">Даунпайп для</div>
										<div class="product__desc">7880 collection for the earth and human environment</div>
										<div class="product__data">
											<div class="product__price">
												<div class="product__price-current">25&nbsp;940 <span class="r"></span></div>
												<div class="product__price-old">52&nbsp;499 <span class="r"></span></div>
											</div>
											<!--v-if--><!--v-if--><!--v-if-->
											<div class="product__button-add nk">
												<svg class="icon icon_cart-add">
													<use xlink:href="#icon-cart-add"></use>
												</svg>
											</div>
											<!--v-if-->
										</div>
									</div>
								</div>
								<!--v-if--><!--v-if-->
							</a>
							<a class="product product_col group__item swiper-slide" href="/catalog-item.html">
								<div class="product__inner">
									<div class="product__img img"><img src="/uploads/products/product-1.jpg" alt="Винтовая подвеска BCR"></div>
									<div class="product__content">
										<div class="product__title">Винтовая подвеска BCR</div>
										<div class="product__desc">Уникальное решение для точной настройки хода подвела меня тут</div>
										<div class="product__data">
											<div class="product__price">
												<div class="product__price-current">12&nbsp;325 <span class="r"></span></div>
												<div class="product__price-old">22&nbsp;759 <span class="r"></span></div>
											</div>
											<!--v-if--><!--v-if--><!--v-if-->
											<div class="product__button-add nk">
												<svg class="icon icon_cart-add">
													<use xlink:href="#icon-cart-add"></use>
												</svg>
											</div>
											<!--v-if-->
										</div>
									</div>
								</div>
							</a>
							<a class="product product_col group__item swiper-slide" href="/catalog-item.html">
								<div class="product__inner">
									<div class="product__img img"><img src="/uploads/products/product-2.png" alt="Даунпайп для"></div>
									<div class="product__content">
										<div class="product__title">Даунпайп для</div>
										<div class="product__desc">7880 collection for the earth and human environment</div>
										<div class="product__data">
											<div class="product__price">
												<div class="product__price-current">25&nbsp;940 <span class="r"></span></div>
												<div class="product__price-old">52&nbsp;499 <span class="r"></span></div>
											</div>
											<!--v-if--><!--v-if--><!--v-if-->
											<div class="product__button-add nk">
												<svg class="icon icon_cart-add">
													<use xlink:href="#icon-cart-add"></use>
												</svg>
											</div>
											<!--v-if-->
										</div>
									</div>
								</div>
								<!--v-if--><!--v-if-->
							</a>
							<!--]-->
						</div>
					</div>
				</div>
				<div class="group__tab" id="group-3">
					<div class="group__slider swiper swiper-initialized swiper-horizontal swiper-pointer-events">
						<div class="group__list swiper-wrapper" style="transition-duration: 0ms;">
							<!--[-->
							<a class="product product_col group__item swiper-slide" href="/catalog-item.html">
								<div class="product__inner">
									<div class="product__img img"><img src="/uploads/products/product-1.jpg" alt="Винтовая подвеска BCR"></div>
									<div class="product__content">
										<div class="product__title">Винтовая подвеска BCR</div>
										<div class="product__desc">Уникальное решение для точной настройки хода подвела меня тут</div>
										<div class="product__data">
											<div class="product__price">
												<div class="product__price-current">12&nbsp;325 <span class="r"></span></div>
												<div class="product__price-old">22&nbsp;759 <span class="r"></span></div>
											</div>
											<!--v-if--><!--v-if--><!--v-if-->
											<div class="product__button-add nk">
												<svg class="icon icon_cart-add">
													<use xlink:href="#icon-cart-add"></use>
												</svg>
											</div>
											<!--v-if-->
										</div>
									</div>
								</div>
								<!--v-if-->
								.product__modal.form
									<div class="form__head"><div class="form__title">Выберите свойства</div><div class="form__close modal__close popup-close"></div></div>
									.form__inner
										<div class="product__modal-inner">
											<div class="product__sets">
												<div class="product__sets-title">Максимальное занижение</div>
												<div class="product__sets-list row">
													<div class="plus form__sets-item plus_md plus_gray check">
														<input type="checkbox" class="check__input" name="sets" value="10 мм">
														<div class="plus__inner">
															<div class="plus__value">10 мм</div>
															<div class="plus__icon">
																<div></div>
																<div></div>
															</div>
														</div>
													</div>
													<div class="plus form__sets-item plus_md plus_gray check">
														<input type="checkbox" class="check__input" name="sets" value="15 мм">
														<div class="plus__inner">
															<div class="plus__value">15 мм</div>
															<div class="plus__icon">
																<div></div>
																<div></div>
															</div>
														</div>
													</div>
													<div class="plus form__sets-item plus_md plus_gray check">
														<input type="checkbox" class="check__input" name="sets" value="20 мм">
														<div class="plus__inner">
															<div class="plus__value">20 мм</div>
															<div class="plus__icon">
																<div></div>
																<div></div>
															</div>
														</div>
													</div>
													<div class="plus form__sets-item plus_md plus_gray check">
														<input type="checkbox" class="check__input" name="sets" value="32 мм">
														<div class="plus__inner">
															<div class="plus__value">32 мм</div>
															<div class="plus__icon">
																<div></div>
																<div></div>
															</div>
														</div>
													</div>
													<div class="plus form__sets-item plus_md plus_gray check">
														<input type="checkbox" class="check__input" name="sets" value="35 мм">
														<div class="plus__inner">
															<div class="plus__value">35 мм</div>
															<div class="plus__icon">
																<div></div>
																<div></div>
															</div>
														</div>
													</div>
													<div class="plus form__sets-item plus_md plus_gray check">
														<input type="checkbox" class="check__input" name="sets" value="40 мм">
														<div class="plus__inner">
															<div class="plus__value">40 мм</div>
															<div class="plus__icon">
																<div></div>
																<div></div>
															</div>
														</div>
													</div>
													<div class="plus form__sets-item plus_md plus_gray check">
														<input type="checkbox" class="check__input" name="sets" value="50 мм">
														<div class="plus__inner">
															<div class="plus__value">50 мм</div>
															<div class="plus__icon">
																<div></div>
																<div></div>
															</div>
														</div>
													</div>
												</div>
												<div class="product__sets-error" style="display: none;">Выберите хотя бы одно свойство</div>
												<div class="button button_md button_bg-red button_shadow-black product__sets-button"><!--v-if--><!--v-if--><div class="button__text">Добавить в корзину</div><!--v-if--></div>
											</div>
										</div>
							</a>
							<a class="product product_col group__item swiper-slide" href="/catalog-item.html">
								<div class="product__inner">
									<div class="product__img img"><img src="/uploads/products/product-2.png" alt="Даунпайп для"></div>
									<div class="product__content">
										<div class="product__title">Даунпайп для</div>
										<div class="product__desc">7880 collection for the earth and human environment</div>
										<div class="product__data">
											<div class="product__price">
												<div class="product__price-current">25&nbsp;940 <span class="r"></span></div>
												<div class="product__price-old">52&nbsp;499 <span class="r"></span></div>
											</div>
											<!--v-if--><!--v-if--><!--v-if-->
											<div class="product__button-add nk">
												<svg class="icon icon_cart-add">
													<use xlink:href="#icon-cart-add"></use>
												</svg>
											</div>
											<!--v-if-->
										</div>
									</div>
								</div>
								<!--v-if--><!--v-if-->
							</a>
							<a class="product product_col group__item swiper-slide" href="/catalog-item.html">
								<div class="product__inner">
									<div class="product__img img"><img src="/uploads/products/product-1.jpg" alt="Винтовая подвеска BCR"></div>
									<div class="product__content">
										<div class="product__title">Винтовая подвеска BCR</div>
										<div class="product__desc">Уникальное решение для точной настройки хода подвела меня тут</div>
										<div class="product__data">
											<div class="product__price">
												<div class="product__price-current">12&nbsp;325 <span class="r"></span></div>
												<div class="product__price-old">22&nbsp;759 <span class="r"></span></div>
											</div>
											<!--v-if--><!--v-if--><!--v-if-->
											<div class="product__button-add nk">
												<svg class="icon icon_cart-add">
													<use xlink:href="#icon-cart-add"></use>
												</svg>
											</div>
											<!--v-if-->
										</div>
									</div>
								</div>
								<!--v-if-->
							</a>
							<a class="product product_col group__item swiper-slide" href="/catalog-item.html">
								<div class="product__inner">
									<div class="product__img img"><img src="/uploads/products/product-2.png" alt="Даунпайп для"></div>
									<div class="product__content">
										<div class="product__title">Даунпайп для</div>
										<div class="product__desc">7880 collection for the earth and human environment</div>
										<div class="product__data">
											<div class="product__price">
												<div class="product__price-current">25&nbsp;940 <span class="r"></span></div>
												<div class="product__price-old">52&nbsp;499 <span class="r"></span></div>
											</div>
											<!--v-if--><!--v-if--><!--v-if-->
											<div class="product__button-add nk">
												<svg class="icon icon_cart-add">
													<use xlink:href="#icon-cart-add"></use>
												</svg>
											</div>
											<!--v-if-->
										</div>
									</div>
								</div>
								<!--v-if--><!--v-if-->
							</a>
							<a class="product product_col group__item swiper-slide" href="/catalog-item.html">
								<div class="product__inner">
									<div class="product__img img"><img src="/uploads/products/product-1.jpg" alt="Винтовая подвеска BCR"></div>
									<div class="product__content">
										<div class="product__title">Винтовая подвеска BCR</div>
										<div class="product__desc">Уникальное решение для точной настройки хода подвела меня тут</div>
										<div class="product__data">
											<div class="product__price">
												<div class="product__price-current">12&nbsp;325 <span class="r"></span></div>
												<div class="product__price-old">22&nbsp;759 <span class="r"></span></div>
											</div>
											<!--v-if--><!--v-if--><!--v-if-->
											<div class="product__button-add nk">
												<svg class="icon icon_cart-add">
													<use xlink:href="#icon-cart-add"></use>
												</svg>
											</div>
											<!--v-if-->
										</div>
									</div>
								</div>
								<!--v-if-->
							</a>
							<a class="product product_col group__item swiper-slide" href="/catalog-item.html">
								<div class="product__inner">
									<div class="product__img img"><img src="/uploads/products/product-2.png" alt="Даунпайп для"></div>
									<div class="product__content">
										<div class="product__title">Даунпайп для</div>
										<div class="product__desc">7880 collection for the earth and human environment</div>
										<div class="product__data">
											<div class="product__price">
												<div class="product__price-current">25&nbsp;940 <span class="r"></span></div>
												<div class="product__price-old">52&nbsp;499 <span class="r"></span></div>
											</div>
											<!--v-if--><!--v-if--><!--v-if-->
											<div class="product__button-add nk">
												<svg class="icon icon_cart-add">
													<use xlink:href="#icon-cart-add"></use>
												</svg>
											</div>
											<!--v-if-->
										</div>
									</div>
								</div>
								<!--v-if--><!--v-if-->
							</a>
							<a class="product product_col group__item swiper-slide" href="/catalog-item.html">
								<div class="product__inner">
									<div class="product__img img"><img src="/uploads/products/product-1.jpg" alt="Винтовая подвеска BCR"></div>
									<div class="product__content">
										<div class="product__title">Винтовая подвеска BCR</div>
										<div class="product__desc">Уникальное решение для точной настройки хода подвела меня тут</div>
										<div class="product__data">
											<div class="product__price">
												<div class="product__price-current">12&nbsp;325 <span class="r"></span></div>
												<div class="product__price-old">22&nbsp;759 <span class="r"></span></div>
											</div>
											<!--v-if--><!--v-if--><!--v-if-->
											<div class="product__button-add nk">
												<svg class="icon icon_cart-add">
													<use xlink:href="#icon-cart-add"></use>
												</svg>
											</div>
											<!--v-if-->
										</div>
									</div>
								</div>
							</a>
							<a class="product product_col group__item swiper-slide" href="/catalog-item.html">
								<div class="product__inner">
									<div class="product__img img"><img src="/uploads/products/product-2.png" alt="Даунпайп для"></div>
									<div class="product__content">
										<div class="product__title">Даунпайп для</div>
										<div class="product__desc">7880 collection for the earth and human environment</div>
										<div class="product__data">
											<div class="product__price">
												<div class="product__price-current">25&nbsp;940 <span class="r"></span></div>
												<div class="product__price-old">52&nbsp;499 <span class="r"></span></div>
											</div>
											<!--v-if--><!--v-if--><!--v-if-->
											<div class="product__button-add nk">
												<svg class="icon icon_cart-add">
													<use xlink:href="#icon-cart-add"></use>
												</svg>
											</div>
											<!--v-if-->
										</div>
									</div>
								</div>
								<!--v-if--><!--v-if-->
							</a>
							<!--]-->
						</div>
					</div>
				</div>
				<!--]-->
			</div>
		</div>
		<!--]-->
	</div>
	<div class="group__bg bg"><img src="/uploads/actual.jpg" alt=""></div>