include ../../pug/vars

<div class="partnership">
	<div class="case case_sm">
		<!--[-->
		+breadcrumbs('partnership__breadcrumb hidden-xs')
		+style('breadcrumb', 'blocks')

		- returnClass = 'partnership__return hidden show-xs-flex'
		include ../return/return

		+style('return', 'blocks')
		<!---->
		<div class="partnership__inner row">
			<div class="partnership__left">
				div(class="h1 partnership__title")= partnershipTitle
				div(class="t1 partnership__text")!= partnershipText
				<!---->

				if partnershipChoiser
					<div class="partnership__choiser hidden-xs">
						<div class="partnership__choiser-title partnership__subtitle">Выберите город</div>
						<div class="select select_md select_b-gray partnership__choiser-select">
							<!---->
							<div class="select__area">
								<!---->
								<div class="select__value select__placeholder">Выберите город</div>
								<div class="select__clear">
									<!---->
								</div>
								<div class="select__chevron">
									<svg class="icon icon_chevron-wide">
										<use xlink:href="#icon-chevron-wide"></use>
									</svg>
								</div>
							</div>
							<div class="select__drop">
								<div class="select__list">
									<!--[-->
									<div class="select__item">
										<!---->
										<div class="select__item-title">Санкт-Петербург</div>
										<div class="select__item-check">
											<svg class="icon icon_check icon_hide">
												<use xlink:href="#icon-check"></use>
											</svg>
										</div>
									</div>
									<div class="select__item">
										<!---->
										<div class="select__item-title">Москва</div>
										<div class="select__item-check">
											<svg class="icon icon_check icon_hide">
												<use xlink:href="#icon-check"></use>
											</svg>
										</div>
									</div>
									<div class="select__item">
										<!---->
										<div class="select__item-title">Ростов</div>
										<div class="select__item-check">
											<svg class="icon icon_check icon_hide">
												<use xlink:href="#icon-check"></use>
											</svg>
										</div>
									</div>
									<!--]-->
								</div>
							</div>
							<!---->
							<select>
								<!--[-->
								<option value="[object Object]">Санкт-Петербург</option>
								<option value="[object Object]">Москва</option>
								<option value="[object Object]">Ростов</option>
								<!--]-->
							</select>
						</div>
					</div>
			</div>
			<div class="partnership__right">
				<div class="partnership__form">
					<!---->
					if partnershipFormTitle
						div.partnership__form-title.partnership__subtitle= partnershipFormTitle
					<div class="partnership__form-inner">
						<div class="field field_sm field_b-gray partnership__form-field">
							<div class="field__head">
								<!---->
								<div class="field__title">
									<!--[-->Имя<!--]-->
								</div>
								<!---->
							</div>
							<div class="field__body">
								<!----><!---->
								<div class="field__inner">
									<div class="field__placeholder">Ваше имя</div>
									<input class="field__area" type="text" value="" name="name">
								</div>
								<!----><!----><!----><!----><!---->
							</div>
							<!---->
						</div>
						<div class="field field_sm field_b-gray partnership__form-field">
							<div class="field__head">
								<!---->
								<div class="field__title">
									<!--[-->Email<!--]-->
								</div>
								<!---->
							</div>
							<div class="field__body">
								<!----><!---->
								<div class="field__inner">
									<div class="field__placeholder">example@email.com</div>
									<input class="field__area" type="text" value="" name="name">
								</div>
								<!----><!---->
								<div class="field__icon field__icon_right">
									<!---->
								</div>
								<!----><!---->
							</div>
							<div class="field__foot">
								<!---->
								<div class="field__valid" style="display:none;">
									<!----><!---->
								</div>
								<!---->
							</div>
						</div>
						if partnershipFieldAuto
							<div class="field field_sm field_b-gray partnership__form-field">
								<div class="field__head">
									<!---->
									<div class="field__title">
										<!--[-->Марка, модель, год<!--]-->
									</div>
									<!---->
								</div>
								<div class="field__body">
									<!----><!---->
									<div class="field__inner">
										<div class="field__placeholder">GOLF IV</div>
										<input class="field__area" type="text" value="" name="name">
									</div>
									<!----><!----><!----><!----><!---->
								</div>
								<!---->
							</div>
						<div class="field field_sm field_b-gray field_error field_error-type-30 partnership__form-field">
							<div class="field__head">
								<!---->
								<div class="field__title">
									<!--[-->Телефон<!--]-->
								</div>
								<!---->
							</div>
							<div class="field__body">
								<!----><!---->
								<div class="field__inner">
									<div class="field__placeholder">+7 888 888 88 88</div>
									<input class="field__area" type="text" value="" name="name">
								</div>
								<!----><!---->
								<div class="field__icon field__icon_right">
									<svg class="icon icon_alert f-red">
										<use xlink:href="#icon-alert"></use>
									</svg>
								</div>
								<!----><!---->
							</div>
							<div class="field__foot">
								<!---->
								<div class="field__valid" style="">
									<div class="field__valid-title">Ошибка, телефон введен не верно.</div>
									<!---->
								</div>
								<!---->
							</div>
						</div>
						<a class="button button_md button_bg-red button_shadow-black partnership__form-button" href="javascript:;">
							<!----><!---->
							<div class="button__text">
								<!--[-->Подать заявку<!--]-->
							</div>
							<!---->
						</a>
					</div>
				</div>
				<!---->
			</div>
		</div>

		if partnershipChoiser
			<div class="partnership__blocks">
				<!--[-->
				<div class="partnership__block">
					<div class="h2 partnership__block-title">
						<!--[-->Санкт-Петербург<!--]-->
					</div>
					<div class="partnership__block-slider swiper">
						<div class="partnership__block-list swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
							<!--[-->
							<div class="partner partnership__block-item swiper-slide">
								<div class="partner__img"><img src="/uploads/products/product-1.jpg" alt=""></div>
								<div class="partner__name">BMW Russia</div>
								<div class="partner__desc">Очень оригинальные запчасти для автомобилей постоянно требующих вложений.</div>
								<div class="partner__contacts">
									<!--[-->
									<div class="partner__contact">
										<div class="partner__contact-icon">
											<svg class="icon icon_phone f-red">
												<use xlink:href="#icon-phone"></use>
											</svg>
										</div>
										<div class="partner__contact-value"><a href="tel:+79211052033">+7 921 105 20 33</a></div>
									</div>
									<div class="partner__contact">
										<div class="partner__contact-icon">
											<svg class="icon icon_at f-red">
												<use xlink:href="#icon-at"></use>
											</svg>
										</div>
										<div class="partner__contact-value"><a href="mailto:order@carcaine.ru">order@carcaine.ru</a></div>
									</div>
									<div class="partner__contact">
										<div class="partner__contact-icon">
											<svg class="icon icon_map f-red">
												<use xlink:href="#icon-map"></use>
											</svg>
										</div>
										<div class="partner__contact-value">г. Санкт-Петербург, улица Розенштейна 39, корпус 3</div>
									</div>
									<!--]-->
								</div>
							</div>
							<div class="partner partnership__block-item swiper-slide">
								<div class="partner__img"><img src="/uploads/products/product-1.jpg" alt=""></div>
								<div class="partner__name">BMW Russia</div>
								<div class="partner__desc">Очень оригинальные запчасти для автомобилей постоянно требующих вложений.</div>
								<div class="partner__contacts">
									<!--[-->
									<div class="partner__contact">
										<div class="partner__contact-icon">
											<svg class="icon icon_phone f-red">
												<use xlink:href="#icon-phone"></use>
											</svg>
										</div>
										<div class="partner__contact-value"><a href="tel:+79211052033">+7 921 105 20 33</a></div>
									</div>
									<div class="partner__contact">
										<div class="partner__contact-icon">
											<svg class="icon icon_at f-red">
												<use xlink:href="#icon-at"></use>
											</svg>
										</div>
										<div class="partner__contact-value"><a href="mailto:order@carcaine.ru">order@carcaine.ru</a></div>
									</div>
									<div class="partner__contact">
										<div class="partner__contact-icon">
											<svg class="icon icon_map f-red">
												<use xlink:href="#icon-map"></use>
											</svg>
										</div>
										<div class="partner__contact-value">г. Санкт-Петербург, улица Розенштейна 39, корпус 3</div>
									</div>
									<!--]-->
								</div>
							</div>
							<div class="partner partnership__block-item swiper-slide">
								<div class="partner__img"><img src="/uploads/products/product-1.jpg" alt=""></div>
								<div class="partner__name">BMW Russia</div>
								<div class="partner__desc">Очень оригинальные запчасти для автомобилей постоянно требующих вложений.</div>
								<div class="partner__contacts">
									<!--[-->
									<div class="partner__contact">
										<div class="partner__contact-icon">
											<svg class="icon icon_phone f-red">
												<use xlink:href="#icon-phone"></use>
											</svg>
										</div>
										<div class="partner__contact-value"><a href="tel:+79211052033">+7 921 105 20 33</a></div>
									</div>
									<div class="partner__contact">
										<div class="partner__contact-icon">
											<svg class="icon icon_at f-red">
												<use xlink:href="#icon-at"></use>
											</svg>
										</div>
										<div class="partner__contact-value"><a href="mailto:order@carcaine.ru">order@carcaine.ru</a></div>
									</div>
									<div class="partner__contact">
										<div class="partner__contact-icon">
											<svg class="icon icon_map f-red">
												<use xlink:href="#icon-map"></use>
											</svg>
										</div>
										<div class="partner__contact-value">г. Санкт-Петербург, улица Розенштейна 39, корпус 3</div>
									</div>
									<!--]-->
								</div>
							</div>
							<div class="partner partnership__block-item swiper-slide">
								<div class="partner__img"><img src="/uploads/products/product-1.jpg" alt=""></div>
								<div class="partner__name">BMW Russia</div>
								<div class="partner__desc">Очень оригинальные запчасти для автомобилей постоянно требующих вложений.</div>
								<div class="partner__contacts">
									<!--[-->
									<div class="partner__contact">
										<div class="partner__contact-icon">
											<svg class="icon icon_phone f-red">
												<use xlink:href="#icon-phone"></use>
											</svg>
										</div>
										<div class="partner__contact-value"><a href="tel:+79211052033">+7 921 105 20 33</a></div>
									</div>
									<div class="partner__contact">
										<div class="partner__contact-icon">
											<svg class="icon icon_at f-red">
												<use xlink:href="#icon-at"></use>
											</svg>
										</div>
										<div class="partner__contact-value"><a href="mailto:order@carcaine.ru">order@carcaine.ru</a></div>
									</div>
									<div class="partner__contact">
										<div class="partner__contact-icon">
											<svg class="icon icon_map f-red">
												<use xlink:href="#icon-map"></use>
											</svg>
										</div>
										<div class="partner__contact-value">г. Санкт-Петербург, улица Розенштейна 39, корпус 3</div>
									</div>
									<!--]-->
								</div>
							</div>
							<!--]-->
						</div>
					</div>
				</div>
				<div class="partnership__block">
					<div class="h2 partnership__block-title">
						<!--[-->Москва<!--]-->
					</div>
					<div class="partnership__block-slider swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
						<div class="partnership__block-list swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
							<!--[-->
							<div class="partner partnership__block-item swiper-slide">
								<div class="partner__img"><img src="/uploads/products/product-1.jpg" alt=""></div>
								<div class="partner__name">BMW Russia</div>
								<div class="partner__desc">Очень оригинальные запчасти для автомобилей постоянно требующих вложений.</div>
								<div class="partner__contacts">
									<!--[-->
									<div class="partner__contact">
										<div class="partner__contact-icon">
											<svg class="icon icon_phone f-red">
												<use xlink:href="#icon-phone"></use>
											</svg>
										</div>
										<div class="partner__contact-value"><a href="tel:+79211052033">+7 921 105 20 33</a></div>
									</div>
									<div class="partner__contact">
										<div class="partner__contact-icon">
											<svg class="icon icon_at f-red">
												<use xlink:href="#icon-at"></use>
											</svg>
										</div>
										<div class="partner__contact-value"><a href="mailto:order@carcaine.ru">order@carcaine.ru</a></div>
									</div>
									<div class="partner__contact">
										<div class="partner__contact-icon">
											<svg class="icon icon_map f-red">
												<use xlink:href="#icon-map"></use>
											</svg>
										</div>
										<div class="partner__contact-value">г. Санкт-Петербург, улица Розенштейна 39, корпус 3</div>
									</div>
									<!--]-->
								</div>
							</div>
							<div class="partner partnership__block-item swiper-slide">
								<div class="partner__img"><img src="/uploads/products/product-1.jpg" alt=""></div>
								<div class="partner__name">BMW Russia</div>
								<div class="partner__desc">Очень оригинальные запчасти для автомобилей постоянно требующих вложений.</div>
								<div class="partner__contacts">
									<!--[-->
									<div class="partner__contact">
										<div class="partner__contact-icon">
											<svg class="icon icon_phone f-red">
												<use xlink:href="#icon-phone"></use>
											</svg>
										</div>
										<div class="partner__contact-value"><a href="tel:+79211052033">+7 921 105 20 33</a></div>
									</div>
									<div class="partner__contact">
										<div class="partner__contact-icon">
											<svg class="icon icon_at f-red">
												<use xlink:href="#icon-at"></use>
											</svg>
										</div>
										<div class="partner__contact-value"><a href="mailto:order@carcaine.ru">order@carcaine.ru</a></div>
									</div>
									<div class="partner__contact">
										<div class="partner__contact-icon">
											<svg class="icon icon_map f-red">
												<use xlink:href="#icon-map"></use>
											</svg>
										</div>
										<div class="partner__contact-value">г. Санкт-Петербург, улица Розенштейна 39, корпус 3</div>
									</div>
									<!--]-->
								</div>
							</div>
							<!--]-->
						</div>
					</div>
				</div>
				<div class="partnership__block">
					<div class="h2 partnership__block-title">
						<!--[-->Ростов<!--]-->
					</div>
					<div class="partnership__block-slider swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
						<div class="partnership__block-list swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
							<!--[-->
							<div class="partner partnership__block-item swiper-slide">
								<div class="partner__img"><img src="/uploads/products/product-1.jpg" alt=""></div>
								<div class="partner__name">BMW Russia</div>
								<div class="partner__desc">Очень оригинальные запчасти для автомобилей постоянно требующих вложений.</div>
								<div class="partner__contacts">
									<!--[-->
									<div class="partner__contact">
										<div class="partner__contact-icon">
											<svg class="icon icon_phone f-red">
												<use xlink:href="#icon-phone"></use>
											</svg>
										</div>
										<div class="partner__contact-value"><a href="tel:+79211052033">+7 921 105 20 33</a></div>
									</div>
									<div class="partner__contact">
										<div class="partner__contact-icon">
											<svg class="icon icon_at f-red">
												<use xlink:href="#icon-at"></use>
											</svg>
										</div>
										<div class="partner__contact-value"><a href="mailto:order@carcaine.ru">order@carcaine.ru</a></div>
									</div>
									<div class="partner__contact">
										<div class="partner__contact-icon">
											<svg class="icon icon_map f-red">
												<use xlink:href="#icon-map"></use>
											</svg>
										</div>
										<div class="partner__contact-value">г. Санкт-Петербург, улица Розенштейна 39, корпус 3</div>
									</div>
									<!--]-->
								</div>
							</div>
							<!--]-->
						</div>
					</div>
				</div>
				<!--]-->
			</div>
		+style('partner', 'blocks')
		<!----><!--]-->
	</div>
</div>