<div class="partnership">
<div class="case case_sm">
<!--[--><link rel="stylesheet" href="template/blocks/breadcrumb/breadcrumb.css?ver=1656796414795"/><div class="return partnership__return hidden show-xs-flex"><div class="return__button">
<svg class="icon icon_chevron f-red">
<use xlink:href="#icon-chevron"></use>
</svg>
<span>Назад</span>
</div></div><link rel="stylesheet" href="template/blocks/return/return.css?ver=1656796414798"/><!---->
<div class="partnership__inner row">
<div class="partnership__left"><div class="h1 partnership__title"></div><div class="t1 partnership__text"></div><!----></div>
<div class="partnership__right">
<div class="partnership__form">
<!----><div class="partnership__form-inner">
<div class="field field_sm field_b-gray partnership__form-field">
<div class="field__head">
<!---->
<div class="field__title">
<!--[-->Имя<!--]-->
</div>
<!---->
</div>
<div class="field__body">
<!----><!---->
<div class="field__inner">
<div class="field__placeholder">Ваше имя</div>
<input class="field__area" type="text" value="" name="name">
</div>
<!----><!----><!----><!----><!---->
</div>
<!---->
</div>
<div class="field field_sm field_b-gray partnership__form-field">
<div class="field__head">
<!---->
<div class="field__title">
<!--[-->Email<!--]-->
</div>
<!---->
</div>
<div class="field__body">
<!----><!---->
<div class="field__inner">
<div class="field__placeholder">example@email.com</div>
<input class="field__area" type="text" value="" name="name">
</div>
<!----><!---->
<div class="field__icon field__icon_right">
<!---->
</div>
<!----><!---->
</div>
<div class="field__foot">
<!---->
<div class="field__valid" style="display:none;">
<!----><!---->
</div>
<!---->
</div>
</div><div class="field field_sm field_b-gray field_error field_error-type-30 partnership__form-field">
<div class="field__head">
<!---->
<div class="field__title">
<!--[-->Телефон<!--]-->
</div>
<!---->
</div>
<div class="field__body">
<!----><!---->
<div class="field__inner">
<div class="field__placeholder">+7 888 888 88 88</div>
<input class="field__area" type="text" value="" name="name">
</div>
<!----><!---->
<div class="field__icon field__icon_right">
<svg class="icon icon_alert f-red">
<use xlink:href="#icon-alert"></use>
</svg>
</div>
<!----><!---->
</div>
<div class="field__foot">
<!---->
<div class="field__valid" style="">
<div class="field__valid-title">Ошибка, телефон введен не верно.</div>
<!---->
</div>
<!---->
</div>
</div>
<a class="button button_md button_bg-red button_shadow-black partnership__form-button" href="javascript:;">
<!----><!---->
<div class="button__text">
<!--[-->Подать заявку<!--]-->
</div>
<!---->
</a>
</div>
</div>
<!---->
</div>
</div><link rel="stylesheet" href="template/blocks/partner/partner.css?ver=1656796414798"/><!----><!--]-->
</div>
</div>