@import '../../scss/vars';

.btn {
	z-index: 1;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	font-size: $fzMain;
  font-family: $ff1;
	// overflow: hidden;
	border: none;
	background-color: transparent;
	transition: .3s;
	outline: none;
	border-bottom: none;
  &.--md {
    font-size: 13px;
    height: 31px;
    border-radius: 2px;
  }
  &.--bg-yellow {
    background: #FFDF2D;
    &:hover {
      background: darken(#FFDF2D, 10%);
    }
  }
}
