.utp {
  z-index: 2;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
}
.utp__wrap {
  display: flex;
  padding: 23px 18px;
  height: 390px;
  overflow: hidden;
  border-radius: 4px;
}
.utp__wrap_bottom {
  align-items: flex-end;
}
.utp__wrap_right {
  text-align: right;
  justify-content: flex-end;
}
.utp__text {
  color: #fff;
}
.utp__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.005em;
  margin-bottom: 2px;
}
.utp__price {
  font-size: 16px;
  line-height: 22px;
}