.select {
  position: relative;
  cursor: pointer;
}
.select__wrap {
  position: relative;
}
.select__area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 14px;
  transition: 0.3s;
  padding-bottom: 16px;
  border-bottom: 2px solid #E2E4E9;
}
.select__title {
  font-size: 20px;
  line-height: 28px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 5px;
  color: #AEAFBF;
  margin-left: auto;
  margin-right: auto;
}
.select__icon {
  width: 14px;
  height: 14px;
}
.select__icon svg {
  transition: 0.3s;
}
.select__drop {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  border-top: none;
  transform: translateY(10px);
  overflow-y: auto;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 0 16px;
  background: #fff;
}
.select__item {
  transition: 0.3s;
  text-align: center;
  padding: 12px;
  font-size: 20px;
  line-height: 28px;
  border-bottom: 1px solid #E2E4E9;
}
.select__item:last-of-type {
  border-bottom: none;
}
.select__item.--hidden {
  display: none;
}
.select__parse {
  display: none;
}
.select.--open {
  z-index: 5;
}
.select.--open .select__area {
  border-radius: 12px 12px 0 0;
}
.select.--open .select__icon svg {
  transform: rotate(180deg);
}
.select.--open .select__drop {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}