@import '../../scss/vars';


.select {
	position: relative;
	cursor: pointer; 
	&__wrap {
		position: relative;
  }
	&__area {
		display: flex;
		align-items: center;
    justify-content: center;
		width: 100%;
    padding-left: 14px;
    transition: .3s;
    padding-bottom: 16px;
    border-bottom: 2px solid #E2E4E9;
  }
	&__title {
    font-size: 20px;
    line-height: 28px;
		white-space: nowrap;
		text-overflow: ellipsis;
    padding-left: 5px;
    color: #AEAFBF;
    margin-left: auto;
    margin-right: auto;
  }
	&__icon {
    width: 14px;
    height: 14px;
		svg {
			transition: $t;
    }
  }
	&__drop {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		transition: $t;
		opacity: 0;
		visibility: hidden;
		border-top: none;
		transform: translateY(10px);
		overflow-y: auto;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 0 16px;
    background: #fff;
  }
	&__item {
		transition: $t;
    text-align: center;
    padding: 12px;
    font-size: 20px;
    line-height: 28px;
    border-bottom: 1px solid #E2E4E9;
    &:last-of-type {
      border-bottom: none;
    }
		&.--hidden {
			display: none;
    }
  }
	&__parse {
		display: none;
  }

	&.--open {
		z-index: 5;
		.select {
			&__area {
				border-radius: 12px 12px 0 0;
        // border-color: $violet;
      }
			&__icon {
				svg {
					transform: rotate(180deg)
        }
      }
			&__drop {
				opacity: 1;
				visibility: visible;
				transform: translateY(0px);
      }
    }
  }
}
