@import '../../scss/vars';

.rec {
    padding-top: 30px;

    &__title {
        margin-bottom: 15px;
    }

    &__list {
        margin-left: -5px;
        margin-right: -5px;
    }

    .rec__item {
        width: calc(100% / 2 - 10px);
    }
}