include ../../pug/vars

<div class="favorit">
  <div class="case case_sm">
    +breadcrumbs('favorit__breadcrumb hidden-xs')
    +style('breadcrumb', 'blocks')
    - returnClass = 'favorit__return hidden show-xs-flex'
    include ../return/return
    +style('return', 'blocks')

    <div class="h1 favorit__title">Избранное</div>
    <div class="t1 favorit__desc">Добро пожаловать в в интернет-магазин комплектующих для тюнинга «CARCAINE»</div>
    <div class="favorit__slider swiper">
      <div class="favorit__list swiper-wrapper">
        <a class="product product_col favorit__item swiper-slide" href="/catalog-item.html">
          <div class="product__inner">
            <div class="product__img img"><img src="/uploads/products/product-2.png" alt="Даунпайп для"></div>
            <div class="product__content">
              <div class="product__title">Даунпайп для</div>
              <div class="product__desc">7880 collection for the earth and human environment</div>
              <div class="product__data">
                <div class="product__price">
                  <div class="product__price-current">25&nbsp;940 <span class="r"></span></div>
                  <div class="product__price-old">52&nbsp;499 <span class="r"></span></div>
                </div>
                <!--v-if-->
                <div class="product__button-favorit nk product__button-favorit_added">
                  <svg class="icon icon_bookmark">
                    <use xlink:href="#icon-bookmark"></use>
                  </svg>
                </div>
                <!--v-if-->
                <div class="product__button-add nk">
                  <svg class="icon icon_cart-add">
                    <use xlink:href="#icon-cart-add"></use>
                  </svg>
                </div>
                <!--v-if-->
              </div>
            </div>
          </div>
          <!--v-if-->
        </a>
        <a class="product product_col favorit__item swiper-slide" href="/catalog-item.html">
          <div class="product__inner">
            <div class="product__img img"><img src="/uploads/products/product-1.jpg" alt="Винтовая подвеска BCR"></div>
            <div class="product__content">
              <div class="product__title">Винтовая подвеска BCR</div>
              <div class="product__desc">Уникальное решение для точной настройки хода подвела меня тут</div>
              <div class="product__data">
                <div class="product__price">
                  <div class="product__price-current">12&nbsp;325 <span class="r"></span></div>
                  <div class="product__price-old">22&nbsp;759 <span class="r"></span></div>
                </div>
                <!--v-if-->
                <div class="product__button-favorit nk product__button-favorit_added">
                  <svg class="icon icon_bookmark">
                    <use xlink:href="#icon-bookmark"></use>
                  </svg>
                </div>
                <!--v-if-->
                <div class="product__button-add nk">
                  <svg class="icon icon_cart-add">
                    <use xlink:href="#icon-cart-add"></use>
                  </svg>
                </div>
                <!--v-if-->
              </div>
            </div>
          </div>
          <!--v-if-->
        </a>
    </div>
    <a class="button button_md button_bg-red button_shadow-black super" href="/basket.html">
      <!--v-if--><!--v-if-->
      <div class="button__text">Создать заказ</div>
      <!--v-if-->
    </a>
  </div>
</div></div>