<div class="favorit">
<div class="case case_sm"><link rel="stylesheet" href="template/blocks/breadcrumb/breadcrumb.css?ver=1656796410617"/><div class="return favorit__return hidden show-xs-flex"><div class="return__button">
<svg class="icon icon_chevron f-red">
<use xlink:href="#icon-chevron"></use>
</svg>
<span>Назад</span>
</div></div><div class="h1 favorit__title">Избранное</div>
<div class="t1 favorit__desc">Добро пожаловать в в интернет-магазин комплектующих для тюнинга «CARCAINE»</div>
<div class="favorit__slider swiper">
<div class="favorit__list swiper-wrapper">
<a class="product product_col favorit__item swiper-slide" href="/catalog/2">
<div class="product__inner">
<div class="product__img img"><img src="/uploads/products/product-2.png" alt="Даунпайп для"></div>
<div class="product__content">
<div class="product__title">Даунпайп для</div>
<div class="product__desc">7880 collection for the earth and human environment</div>
<div class="product__data">
<div class="product__price">
<div class="product__price-current">25&nbsp;940 <span class="r"></span></div>
<div class="product__price-old">52&nbsp;499 <span class="r"></span></div>
</div>
<!--v-if-->
<div class="product__button-favorit nk product__button-favorit_added">
<svg class="icon icon_bookmark">
<use xlink:href="#icon-bookmark"></use>
</svg>
</div>
<!--v-if-->
<div class="product__button-add nk">
<svg class="icon icon_cart-add">
<use xlink:href="#icon-cart-add"></use>
</svg>
</div>
<!--v-if-->
</div>
</div>
</div>
<!--v-if-->
<div class="product__modal nk">
<div class="product__modal-inner">
<div class="product__sets">
<div class="product__sets-title">Максимальное занижение</div>
<div class="product__sets-list row"></div>
<div class="product__sets-error" style="display: none;">Выберите хотя бы одно свойство</div>
<a class="button button_md button_bg-red button_shadow-black product__sets-button" href="javascript:;"><!--v-if--><!--v-if--><div class="button__text">Добавить в корзину</div><!--v-if--></a></div></div></div></a>
<a class="product product_col favorit__item swiper-slide" href="/catalog/1">
<div class="product__inner">
<div class="product__img img"><img src="/uploads/products/product-1.jpg" alt="Винтовая подвеска BCR"></div>
<div class="product__content">
<div class="product__title">Винтовая подвеска BCR</div>
<div class="product__desc">Уникальное решение для точной настройки хода подвела меня тут</div>
<div class="product__data">
<div class="product__price">
<div class="product__price-current">12&nbsp;325 <span class="r"></span></div>
<div class="product__price-old">22&nbsp;759 <span class="r"></span></div>
</div>
<!--v-if-->
<div class="product__button-favorit nk product__button-favorit_added">
<svg class="icon icon_bookmark">
<use xlink:href="#icon-bookmark"></use>
</svg>
</div>
<!--v-if-->
<div class="product__button-add nk">
<svg class="icon icon_cart-add">
<use xlink:href="#icon-cart-add"></use>
</svg>
</div>
<!--v-if-->
</div>
</div>
</div>
<!--v-if-->
<div class="product__modal nk">
<div class="product__modal-inner">
<div class="product__sets">
<div class="product__sets-title">Максимальное занижение</div>
<div class="product__sets-list row">
<div class="plus form__sets-item plus_md plus_gray">
<input type="checkbox" class="plus__input" name="sets" value="10 мм">
<div class="plus__inner">
<div class="plus__value">10 мм</div>
<div class="plus__icon">
<div></div>
<div></div>
</div>
</div>
</div>
<div class="plus form__sets-item plus_md plus_gray">
<input type="checkbox" class="plus__input" name="sets" value="15 мм">
<div class="plus__inner">
<div class="plus__value">15 мм</div>
<div class="plus__icon">
<div></div>
<div></div>
</div>
</div>
</div>
<div class="plus form__sets-item plus_md plus_gray">
<input type="checkbox" class="plus__input" name="sets" value="20 мм">
<div class="plus__inner">
<div class="plus__value">20 мм</div>
<div class="plus__icon">
<div></div>
<div></div>
</div>
</div>
</div>
<div class="plus form__sets-item plus_md plus_gray">
<input type="checkbox" class="plus__input" name="sets" value="32 мм">
<div class="plus__inner">
<div class="plus__value">32 мм</div>
<div class="plus__icon">
<div></div>
<div></div>
</div>
</div>
</div>
<div class="plus form__sets-item plus_md plus_gray">
<input type="checkbox" class="plus__input" name="sets" value="35 мм">
<div class="plus__inner">
<div class="plus__value">35 мм</div>
<div class="plus__icon">
<div></div>
<div></div>
</div>
</div>
</div>
<div class="plus form__sets-item plus_md plus_gray">
<input type="checkbox" class="plus__input" name="sets" value="40 мм">
<div class="plus__inner">
<div class="plus__value">40 мм</div>
<div class="plus__icon">
<div></div>
<div></div>
</div>
</div>
</div>
<div class="plus form__sets-item plus_md plus_gray">
<input type="checkbox" class="plus__input" name="sets" value="50 мм">
<div class="plus__inner">
<div class="plus__value">50 мм</div>
<div class="plus__icon">
<div></div>
<div></div>
</div>
</div>
</div>
</div>
<div class="product__sets-error" style="display: none;">Выберите хотя бы одно свойство</div>
<a class="button button_md button_bg-red button_shadow-black product__sets-button" href="javascript:;"><!--v-if--><!--v-if--><div class="button__text">Добавить в корзину</div><!--v-if--></a></div></div></div></a>
</div>
</div>
<a class="button button_md button_bg-red button_shadow-black super" href="/basket">
<!--v-if--><!--v-if-->
<div class="button__text">Создать заказ</div>
<!--v-if-->
</a>
</div>
</div>