.case {
	position: relative;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	max-width: 1275px;
	.case {
		padding-left: 0;
		padding-right: 0;
  }
}
		

.row {
	display: flex;
	flex-wrap: wrap;
}
