.field {
  transition: 0.3s;
}
.field__wrap {
  position: relative;
  cursor: text;
}
.field__area {
  display: block;
  font-size: 16px;
  font-family: "Tinkoff Sans", sans-serif;
  width: 100%;
  overflow: hidden;
  resize: none;
  transition: 0.3s;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #ECF1F7;
  background: #ECF1F7;
  border-radius: 2px;
  transition: 0.3s;
}
.field__area::placeholder {
  opacity: 1;
  color: #95928B;
  transition: 0.3s;
}
.field textarea.field__area {
  padding-top: 8px;
  padding-bottom: 8px;
  height: 96px;
  resize: none;
}
.field.--error .field__area::placeholder {
  color: #f00;
}