.field__wrap {
  position: relative;
  cursor: text;
}
.field__area {
  display: block;
  font-size: 16px;
  font-family: "Tahoma", sans-serif;
  width: 100%;
  overflow: hidden;
  resize: none;
  transition: 0.3s;
}
.field__area::placeholder {
  opacity: 0;
}
.field__placeholder {
  position: absolute;
  left: 0;
  right: 0;
  transition: opacity 0.3s;
}
.field__message {
  display: none;
  color: #f00;
}
.field.--input .field__placeholder {
  top: 50%;
  transform: translateY(-50%);
}
.field.--textarea .field__placeholder {
  top: 0;
}
.field.--xs .field__placeholder {
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
.field.--xs.--textarea .field__placeholder {
  line-height: 1.4;
  padding-top: 8px;
}
.field.--xs input.field__area {
  font-size: 12px;
  height: 46px;
  padding-left: 10px;
  padding-right: 10px;
}
.field.--xs textarea.field__area {
  font-size: 12px;
  line-height: 1.4;
  height: 100px;
  padding: 8px 10px 8px 10px;
}
.field.--sm .field__placeholder {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}
.field.--sm.--textarea .field__placeholder {
  line-height: 1.4;
  padding-top: 8px;
}
.field.--sm input.field__area {
  font-size: 14px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.field.--sm textarea.field__area {
  font-size: 14px;
  line-height: 1.4;
  height: 80px;
  padding: 8px 10px 8px 10px;
}
.field.--md .field__placeholder {
  font-size: 16px;
  padding-left: 18px;
  padding-right: 18px;
}
.field.--md.--textarea .field__placeholder {
  line-height: 1.4;
  padding-top: 16px;
}
.field.--md input.field__area {
  font-size: 16px;
  height: 56px;
  padding-left: 18px;
  padding-right: 18px;
}
.field.--md textarea.field__area {
  font-size: 16px;
  line-height: 1.4;
  height: 120px;
  padding: 16px 18px 16px 18px;
}
.field.--lg .field__placeholder {
  font-size: 18px;
  padding-left: 25px;
  padding-right: 25px;
}
.field.--lg.--textarea .field__placeholder {
  line-height: 1.4;
  padding-top: 23px;
}
.field.--lg input.field__area {
  font-size: 18px;
  height: 62px;
  padding-left: 25px;
  padding-right: 25px;
}
.field.--lg textarea.field__area {
  font-size: 18px;
  line-height: 1.4;
  height: 160px;
  padding: 23px 25px 23px 25px;
}
.field.--b-gray .field__area {
  border: 1px solid #eee;
  border-radius: 5px;
}
.field.--focus .field__placeholder, .field.--filled .field__placeholder {
  opacity: 0;
}
.field.--error .field__area {
  border-color: #f00;
}
.field.--error .field__message {
  display: block;
}