<div class="selection"><div class="case"><div class="selection__wrap row">
<div class="selection__content">
<div class="h2 selection__title c-red">Подбор по автомобилю</div>
<div class="t1 selection__text">
<p>Ищите товары сразу для вашего автомобиля, это помжет сильно сузить ассортимент и ускорит выбор товаров. </p>
</div>
</div>
<form class="selection__form" action="catalog.html" method="GET"><div class="auto selection__list row" action="catalog.html" id="auto"><div class="select select_md select_b-gray auto__select selection__select select_drop-mt" id="auto-mark" data-placeholder="Выберите марку автомобиля"><!--v-if-->
<div class="select__area">
<!--v-if-->
<div class="select__icon"></div>
<div class="select__value"></div>
<div class="select__clear">
<svg class="icon icon_cross">
<use xlink:href="#icon-cross"></use>
</svg>
</div>
<div class="select__chevron">
<svg class="icon icon_chevron-wide">
<use xlink:href="#icon-chevron-wide"></use>
</svg>
</div>
</div>
<div class="select__drop">
<div class="select__list"></div>
</div><div class="select__bg"></div><select name="mark"></select></div><div class="select select_md select_b-gray auto__select selection__select select_drop-mt" id="auto-model" data-placeholder="Выберите модель автомобиля"><!--v-if-->
<div class="select__area">
<!--v-if-->
<div class="select__icon"></div>
<div class="select__value"></div>
<div class="select__clear">
<svg class="icon icon_cross">
<use xlink:href="#icon-cross"></use>
</svg>
</div>
<div class="select__chevron">
<svg class="icon icon_chevron-wide">
<use xlink:href="#icon-chevron-wide"></use>
</svg>
</div>
</div>
<div class="select__drop">
<div class="select__list"></div>
</div><div class="select__bg"></div><select name="model"></select></div><div class="select select_md select_b-gray auto__select selection__select select_drop-mt" id="auto-mode" data-placeholder="Выберите модификацию"><!--v-if-->
<div class="select__area">
<!--v-if-->
<div class="select__icon"></div>
<div class="select__value"></div>
<div class="select__clear">
<svg class="icon icon_cross">
<use xlink:href="#icon-cross"></use>
</svg>
</div>
<div class="select__chevron">
<svg class="icon icon_chevron-wide">
<use xlink:href="#icon-chevron-wide"></use>
</svg>
</div>
</div>
<div class="select__drop">
<div class="select__list"></div>
</div><div class="select__bg"></div><select class="mode"></select></div><button class="button button_md button_bg-red button_shadow-black auto__button selection__button" href="javascript:;">
<!--v-if--><!--v-if-->
<div class="button__text">Подобрать</div>
<!--v-if-->
</button></div><link rel="stylesheet" href="template/blocks/auto/auto.css?ver=1656983150468"/><script src="template/blocks/auto/auto.js?ver=1656983150468"></script></form>
</div>
<div class="selection__img"><img src="/uploads/selection-car.png" alt=""></div>
</div></div>