extends ../../templates/default
block vars
  -
    title = ""
block content

  include ../../../blocks/intro/intro
  +style('intro', 'blocks')

  include ../../../blocks/choiser/choiser
  +style('choiser', 'blocks')

  include ../../../blocks/group/group
  +style('group', 'blocks')

  include ../../../blocks/questions/questions
  +style('questions', 'blocks')

  include ../../../blocks/utp/utp
  +style('utp', 'blocks')

  include ../../../blocks/text/text
  +style('text', 'blocks')

  include ../../../blocks/cats/cats
  +style('cats', 'blocks')

  include ../../../blocks/actual/actual
  +style('actual', 'blocks')

  include ../../../blocks/questions/questions
  //- +style('questions', 'blocks')