@import '../../scss/vars';

.page {
    padding-top: 20px;
    padding-bottom: 75px;

    &__breadcrumb {
        margin-bottom: 20px;
    }

    &__content {
        padding-top: 42px;
    }
}

@media screen and (max-width: 767px) {
    .page {
        padding-top: 77px;
        padding-bottom: 0;

        &__return {
            margin-bottom: 5px;
        }

        &__title {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 20px;
        }

        &__content {
            padding-top: 0;
        }
    }
}