extends ../../templates/default
block vars
  -
    title = "Стать диллером"
    breadcrumbs = [
      ['Главная', 'index.html'],
      [title]
    ]
block content
  -
    partnershipTitle = 'Стать диллером'
    partnershipText  = '<p>Тут написан текст который дет понять что получит человек заполнивший данную форму обратной связи , он должен понять приференции которые получает при партнерстве с BC racing</p>'
  include ../../../blocks/partnership/partnership
  +style('partnership', 'blocks')
  
  - questionsClass = 'hidden-xs'
  include ../../../blocks/questions/questions
  +style('questions', 'blocks')
  