extends ../../templates/default
block vars
  -
    title = "Избранное"
    breadcrumbs = [
      ['Главная', 'index.html'],
      [title]
    ]
block content
  include ../../../blocks/favorit/favorit
  +style('favorit', 'blocks')
  
  - actualClass = 'actual_mt-minus hidden-xs'
  include ../../../blocks/actual/actual
  +style('actual', 'blocks')

  - questionsClass = 'questions_mt-minus hidden-xs'
  include ../../../blocks/questions/questions
  +style('questions', 'blocks')