<div class="order">
<div class="case case_sm"><link rel="stylesheet" href="template/blocks/breadcrumb/breadcrumb.css?ver=1656506759927"/><div class="return order__return hidden show-xs-flex"><div class="return__button">
<svg class="icon icon_chevron f-red">
<use xlink:href="#icon-chevron"></use>
</svg>
<span>Назад</span>
</div></div><div class="order__inner row">
<div class="order__left">
<div class="h1 order__title">Заказ</div>
<div class="order__num">№454235325235</div>
<div class="order__block">
<h3>О заказе</h3>
<ul>
<li>Дата: <b>12 мая 2022 14:12:12</b></li>
<li>Сумма: <b>125 231 ₽</b></li>
<li>Доставка: <b>СДЭК</b></li>
<li>Ожидаемый срок доставки: <b>1 год</b></li>
<li>Способ оплаты: <b>Наличные</b></li>
<li>Статус: <b>доставлен</b></li>
</ul>
</div>
<a class="order__block order__block_button" href="" target="_blank">
<svg class="icon icon_doc f-red">
<use xlink:href="#icon-doc"></use>
</svg>
<span>Квитанция</span>
</a>
</div>
<div class="order__right">
<div class="order__list row">
<!--[-->
<a class="product product_col product_disabled order__item" href="/catalog/2">
<div class="product__inner">
<div class="product__img img"><img src="/uploads/products/product-2.png" alt="Даунпайп для"></div>
<div class="product__content">
<div class="product__title">Даунпайп для</div>
<div class="product__desc">7880 collection for the earth and human environment</div>
<div class="product__data">
<div class="product__price">
<div class="product__price-current">25&nbsp;940 <span class="r"></span></div>
<div class="product__price-old">52&nbsp;499 <span class="r"></span></div>
</div>
<!--v-if--><!--v-if--><!--v-if-->
<div class="product__button-add nk">
<svg class="icon icon_cart-add">
<use xlink:href="#icon-cart-add"></use>
</svg>
</div>
<!--v-if-->
</div>
</div>
</div>
<!--v-if--><!--v-if-->
</a>
<!--]-->
</div>
</div>
</div>
</div>
</div>