include ../../pug/vars

<div class="lkp dd panel__lk">
    <div class="lkp__inner row">
        <div class="lkp__ava">
            <svg class="icon icon_user">
                <use xlink:href="#icon-user"></use>
            </svg>
        </div>
        <div class="lkp__value">Евграфий Евграфьевич</div>
        <div class="lkp__icon">
            <svg class="icon icon_chevron">
                <use xlink:href="#icon-chevron"></use>
            </svg>
        </div>
    </div>
    <div class="lkp__drop">
        <div class="lkp__list">
            <!--[--><a href="/profile/" class="lkp__item">Личный кабинет</a><a href="#" class="lkp__item">Выйти</a><!--]-->
        </div>
    </div>
</div>