extends ../../templates/default
block vars
  -
    title = "Заказ"
    breadcrumbs = [
      ['Главная', 'index.html'],
      ['Профиль', 'profile.html'],
      [title]
    ]
block content
  include ../../../blocks/order/order
  +style('order', 'blocks')

  - questionsClass = 'hidden-xs'
  include ../../../blocks/questions/questions
  +style('questions', 'blocks')