include ../../pug/vars

<div class="auto selection__list row">
	<div class="select select_md select_b-gray auto__select selection__select select_drop-mt">
		<!--v-if-->
		<div class="select__area">
			<!--v-if-->
			<div class="select__value select__placeholder">Выберите марку автомобиля</div>
			<div class="select__clear">
				<svg class="icon icon_cross icon_hide">
					<use xlink:href="#icon-cross"></use>
				</svg>
			</div>
			<div class="select__chevron">
				<svg class="icon icon_chevron-wide">
					<use xlink:href="#icon-chevron-wide"></use>
				</svg>
			</div>
		</div>
		<div class="select__drop">
			<div class="select__list">
				<div class="select__item">
					<div class="select__item-icon"><img src="/uploads/marks/volkswagen.svg" alt="Volkswagen"></div>
					<div class="select__item-title">Volkswagen</div>
					<div class="select__item-check">
						<svg class="icon icon_check icon_hide">
							<use xlink:href="#icon-check"></use>
						</svg>
					</div>
				</div>
				<div class="select__item">
					<div class="select__item-icon"><img src="/uploads/marks/porsche.svg" alt="Porsche"></div>
					<div class="select__item-title">Porsche</div>
					<div class="select__item-check">
						<svg class="icon icon_check icon_hide">
							<use xlink:href="#icon-check"></use>
						</svg>
					</div>
				</div>
				<div class="select__item">
					<div class="select__item-icon"><img src="/uploads/marks/audi.svg" alt="Audi"></div>
					<div class="select__item-title">Audi</div>
					<div class="select__item-check">
						<svg class="icon icon_check icon_hide">
							<use xlink:href="#icon-check"></use>
						</svg>
					</div>
				</div>
				<div class="select__item">
					<div class="select__item-icon"><img src="/uploads/marks/bmw.svg" alt="BMW"></div>
					<div class="select__item-title">BMW</div>
					<div class="select__item-check">
						<svg class="icon icon_check icon_hide">
							<use xlink:href="#icon-check"></use>
						</svg>
					</div>
				</div>
				<div class="select__item">
					<div class="select__item-icon"><img src="/uploads/marks/mini.svg" alt="Mini"></div>
					<div class="select__item-title">Mini</div>
					<div class="select__item-check">
						<svg class="icon icon_check icon_hide">
							<use xlink:href="#icon-check"></use>
						</svg>
					</div>
				</div>
			</div>
		</div>
		<div class="select__bg"></div>
		<select>
			<option value="[object Object]">Volkswagen</option>
			<option value="[object Object]">Porsche</option>
			<option value="[object Object]">Audi</option>
			<option value="[object Object]">BMW</option>
			<option value="[object Object]">Mini</option>
		</select>
	</div>
	<div class="select select_md select_b-gray auto__select selection__select select_drop-mt">
		<!--v-if-->
		<div class="select__area">
			<!--v-if-->
			<div class="select__value select__placeholder">Выберите модель автомобиля</div>
			<div class="select__clear">
				<svg class="icon icon_cross icon_hide">
					<use xlink:href="#icon-cross"></use>
				</svg>
			</div>
			<div class="select__chevron">
				<svg class="icon icon_chevron-wide">
					<use xlink:href="#icon-chevron-wide"></use>
				</svg>
			</div>
		</div>
		<div class="select__drop">
			<div class="select__list"></div>
		</div>
		<div class="select__bg"></div>
		<select></select>
	</div>
	<div class="select select_md select_b-gray auto__select selection__select select_drop-mt">
		<!--v-if-->
		<div class="select__area">
			<!--v-if-->
			<div class="select__value select__placeholder">Выберите модификацию </div>
			<div class="select__clear">
				<svg class="icon icon_cross icon_hide">
					<use xlink:href="#icon-cross"></use>
				</svg>
			</div>
			<div class="select__chevron">
				<svg class="icon icon_chevron-wide">
					<use xlink:href="#icon-chevron-wide"></use>
				</svg>
			</div>
		</div>
		<div class="select__drop">
			<div class="select__list"></div>
		</div>
		<div class="select__bg"></div>
		<select></select>
	</div>
	<a class="button button_md button_bg-red button_shadow-black auto__button selection__button" href="javascript:;">
		<!--v-if--><!--v-if-->
		<div class="button__text">Подобрать</div>
		<!--v-if-->
	</a>
</div>