include ../../pug/vars

div(class="auto selection__list row" action="catalog.html" class=autoClass id="auto")
	div(id="auto-mark" class="select select_md select_b-gray auto__select selection__select" class=!autoSelectHideBg ? 'select_drop-mt' : null data-placeholder="Выберите марку автомобиля")
		<!--v-if-->
		<div class="select__area">
			<!--v-if-->
			<div class="select__icon"></div>
			<div class="select__value"></div>
			<div class="select__clear">
				<svg class="icon icon_cross">
					<use xlink:href="#icon-cross"></use>
				</svg>
			</div>
			<div class="select__chevron">
				<svg class="icon icon_chevron-wide">
					<use xlink:href="#icon-chevron-wide"></use>
				</svg>
			</div>
		</div>
		<div class="select__drop">
			<div class="select__list"></div>
		</div>
		if !autoSelectHideBg
			<div class="select__bg"></div>
		<select name="mark"></select>
	div(id="auto-model" class="select select_md select_b-gray auto__select selection__select" class=!autoSelectHideBg ? 'select_drop-mt' : null data-placeholder="Выберите модель автомобиля")
		<!--v-if-->
		<div class="select__area">
			<!--v-if-->
			<div class="select__icon"></div>
			<div class="select__value"></div>
			<div class="select__clear">
				<svg class="icon icon_cross">
					<use xlink:href="#icon-cross"></use>
				</svg>
			</div>
			<div class="select__chevron">
				<svg class="icon icon_chevron-wide">
					<use xlink:href="#icon-chevron-wide"></use>
				</svg>
			</div>
		</div>
		<div class="select__drop">
			<div class="select__list"></div>
		</div>
		if !autoSelectHideBg
			<div class="select__bg"></div>
		<select name="model"></select>
	div(id="auto-mode" class="select select_md select_b-gray auto__select selection__select" class=!autoSelectHideBg ? 'select_drop-mt' : null data-placeholder="Выберите модификацию")
		<!--v-if-->
		<div class="select__area">
			<!--v-if-->
			<div class="select__icon"></div>
			<div class="select__value"></div>
			<div class="select__clear">
				<svg class="icon icon_cross">
					<use xlink:href="#icon-cross"></use>
				</svg>
			</div>
			<div class="select__chevron">
				<svg class="icon icon_chevron-wide">
					<use xlink:href="#icon-chevron-wide"></use>
				</svg>
			</div>
		</div>
		<div class="select__drop">
			<div class="select__list"></div>
		</div>
		if !autoSelectHideBg
			<div class="select__bg"></div>
		<select class="mode"></select>
	if !autoButtonHide
		<button class="button button_md button_bg-red button_shadow-black auto__button selection__button" href="javascript:;">
			<!--v-if--><!--v-if-->
			<div class="button__text">Подобрать</div>
			<!--v-if-->
		</button>