@import '../../scss/vars';

.cats {
    z-index: 2;
    position: relative;
    padding-top: 92px;

    &__breadcrumb {
        margin-top: -70px;
        margin-bottom: 20px;
    }

    &__wrap {
        align-items: flex-start;
    }

    &__content {
        width: 588px;
        padding-top: 10px;
        padding-right: 24px;
    }

    &__title {
        margin-bottom: 10px;
    }

    &__text {
        margin-bottom: 17px;
    }

    &__actions {
        position: relative;
        max-width: 536px;

        &-bg {
            position: absolute;
            top: -655px;
            left: -595px;
            width: 814px;
            pointer-events: none;
        }
    }

    &__action {
        z-index: 1;
        position: relative;
        display: flex;
        align-items: center;
        padding: 25px 24px 24px;
        border-radius: 4px;
        background: #F5F5F5;
        border-bottom: none;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
        margin-bottom: 28px;
        transition: .3s;
        cursor: pointer;

        .form {
            display: none !important;
        }

        &:hover {
            box-shadow: 0 1px 25px rgb(0 0 0 / 15%);
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        &-title {
            font-size: 20px;
            line-height: 30px;
            font-weight: 700;
            letter-spacing: 0.2px;
        }

        &-desc {
            display: flex;
            align-items: center;
            font-size: 14px;
            line-height: 19px;
            color: $red;
            font-weight: 600;
            letter-spacing: 0.2px;
            margin-top: 8px;

            svg {
                position: relative;
                top: 1px;
                width: 13px;
                height: 8px;
                margin-left: 12px;
                transform: rotate(-90deg);
            }
        }

        &-img {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: 12px;
            margin-right: -25px;
            transform: translateY(-50%);
        }

        &-bg {
            z-index: -1;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
        }
    }

    &__inner {
        width: calc(100% - 588px);
    }

    &__list {
        align-items: flex-start;
        margin-right: -5px;
    }

    &__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: calc(100% / 6 - 10px);
        height: 172px;
        padding: 17px 10px 10px;
        margin: 0 5px 10px;
        background: #FFFFFF;
        box-shadow: 0px 28px 104px rgba(41, 41, 41, 0.15);
        border-radius: 4px;

        &:hover {
            box-shadow: 0 28px 104px rgb(41 41 41 / 30%);
        }

        &-img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 80px;
            margin-bottom: 20px;
        }

        &-title {
            line-height: 19px;
            letter-spacing: -0.005em;
            text-align: center;
        }
    }

    &__modal {
        display: none;
    }
}

@media screen and (max-width: 1460px) {
    .cats {
        &__item {
            width: calc(100% / 5 - 10px);
        }
    }
}

@media screen and (max-width: 1320px) {
    .cats {
        &__item {
            width: calc(100% / 4 - 10px);
        }
    }
}

@media screen and (max-width: 1200px) {
    .cats {
        padding-top: 50px;

        &__breadcrumb {
            margin-top: -30px;
        }

        &__inner {
            width: 100%;
            margin-top: 40px;
        }

        &__list {
            margin-left: -5px;
        }

        &__item {
            width: calc(100% / 5 - 10px);
        }
    }
}

@media screen and (max-width: 870px) {
    .cats {
        &__item {
            width: calc(100% / 4 - 10px);
        }
    }
}

@media screen and (max-width: 767px) {
    .cats {
        position: static;
        padding-top: 0;

        &_page {
            padding-top: 77px;

            .cats {
                &__content {
                    display: none;
                }

                &__inner {
                    margin-top: 0;
                }
            }
        }

        &__content {
            width: 100%;
            padding-right: 0;
        }

        &__actions {
            max-width: 100%;

            &-bg {
                z-index: 2;
                top: auto;
                bottom: 0;
                right: -170px;
                left: auto;
                pointer-events: none;
            }
        }

        &__action {
            height: 150px;
            padding-right: 120px;

            &-bg {
                display: none;
            }

            &-img {
                margin-right: -18px;
                margin-top: 22px;
                transform: translateY(-50%) scale(1.15);
            }
        }

        &__btop {
            margin-bottom: 15px;
        }

        &__return {
            margin-bottom: 5px;
        }

        &__inner {
            margin-top: 28px;

            &:first-child {
                margin-top: 0;
            }
        }

        &__list_hidden-xs {
            .cats {
                &__item {
                    display: none;

                    &:nth-of-type(1),
                    &:nth-of-type(2),
                    &:nth-of-type(3),
                    &:nth-of-type(4) {
                        display: flex;
                    }
                }
            }
        }

        &__item {
            width: calc(100% / 2 - 10px);
        }

        &__modal {
            z-index: 99;
            display: block;
            position: fixed;
            top: 70px;
            left: 0;
            right: 0;
            bottom: 0;
            background: #fff;
            padding: 10px 10px;
            transition: .3s;
            transform: translateX(100%);

            &_show {
                transform: translateX(0%);
            }
        }

        &__controls {
            margin-bottom: 18px;
        }

        &__back {
            display: flex;
            align-items: center;
            cursor: pointer;

            svg {
                width: 8px;
                height: 12px;
                fill: $red;
                transform: rotate(90deg);
                margin-right: 5px;
            }

            span {
                color: $red;
                font-size: 14px;
                font-weight: 600;
            }
        }

        &__close {
            margin-left: auto;
            margin-right: 13px;
            width: 17px;
            height: 17px;
            cursor: pointer;
        }

        &__links {
            overflow-y: auto;
            height: calc(100% - 37px);
            padding-bottom: 76px;
        }

        &__link {
            display: flex;
            align-items: center;
            background: #FFFFFF;
            padding: 17px;
            border: 1px solid #F1F1F1;
            border-radius: 4px;
            margin-bottom: 8px;

            // font-family: $ff2g;
            &:last-of-type {
                margin-bottom: 0;
            }

            &:hover {
                box-shadow: 0 0 45px rgb(41 41 41 / 15%);
            }

            &-icon {
                min-width: 14px;
                width: 14px;
                height: 14px;
                transform: rotate(-90deg);
                margin-left: auto;

                .icon {
                    stroke: $black-dark;
                }
            }
        }


        &__button {
            position: absolute;
            left: 10px;
            right: 10px;
            bottom: 25px;
        }

    }
}