<div class="text"><div class="case">
<!--[-->
<div class="btop text__btop">
<div class="h2 btop__title">
<!--[--><!--[-->Актуальное<!--]--><!--]-->
</div>
<div class="btop__link"><a href="#">Подробнее</a></div>
</div>
<div class="text__area">
<p><strong>CARCAINE</strong> – интернет-магазин тюнинг-комплектующих для современных автомобилей Audi, Skoda, Seat, Skoda, Porsche, BMW, Mercedes-Benz и др.Мы предлагаем только лучшие товары из Европы и США. Работаем напрямую с заводами, тем самым гарантируя отличные цены и сроки доставки.Если вы хотите произвести тюнинг своего автомобиля, но не знаете с чего лучше начать - напишите нам, мы обязательно вам поможем!</p>
</div>
<!--]-->
</div></div>