@import '../../scss/vars';


body.popup-show {
	overflow: hidden;
	height: 100%;
	margin-right: 12px;
}

.popup {
	z-index: 999999;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: $t;
	opacity: 0;
	visibility: hidden;
	&__inner {
		display: flex;
    flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		position: absolute;
		overflow-y: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 15px;
  }
  &__item {
    display: block !important;
  }
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,.8);
  }
	&.--show {
		opacity: 1;
		visibility: visible;
  }
}
