<div class="questions"><div class="case">
<!--[-->
<div class="questions__wrap row">
<div class="h2 h2_nols questions__title">
<!--[-->Мы готовы ответить на все ваши вопросы!<!--]-->
</div>
<form class="questions__form row">
<div class="field field_sm field_b-gray questions__field" data-validation="email">
<div class="field__head">
<!---->
<div class="field__title">
<!--[-->Email<!--]-->
</div>
<!---->
</div>
<div class="field__body">
<!----><!---->
<div class="field__inner">
<div class="field__placeholder">example@email.com</div>
<input class="field__area" type="text" value="" name="name">
</div>
<!----><!---->
<div class="field__icon field__valid-icon field__icon_right">
<svg class="field__valid-successful icon icon_check-round f-green"><use xlink:href="#icon-check-round"></use></svg>
<svg class="field__valid-error icon icon_alert f-red"><use xlink:href="#icon-alert"></use></svg>
</div>
<!----><!---->
</div>
<div class="field__foot">
<!---->
<div class="field__valid">
<!----><!---->
</div>
<!---->
</div>
</div>
<div class="field field_sm field_b-gray questions__field" data-validation="phone">
<div class="field__head">
<!---->
<div class="field__title">
<!--[-->Телефон<!--]-->
</div>
<!---->
</div>
<div class="field__body">
<!----><!---->
<div class="field__inner">
<div class="field__placeholder">+7 888 888 88 88</div>
<input class="field__area" type="text" value="" name="name">
</div>
<!----><!---->
<div class="field__icon field__valid-icon field__icon_right">
<svg class="field__valid-successful icon icon_check-round f-green"><use xlink:href="#icon-check-round"></use></svg>
<svg class="field__valid-error icon icon_alert f-red"><use xlink:href="#icon-alert"></use></svg>
</div>
<!----><!---->
</div>
<div class="field__foot">
<!---->
<div class="field__valid">
<!----><!---->
</div>
<!---->
</div>
</div>
<a class="button button_lg button_bg-red button_shadow-black questions__button" href="javascript:;">
<!----><!---->
<div class="button__text">
<!--[-->Задать вопрос<!--]-->
</div>
<!---->
</a>
</form>
</div>
<!--]-->
</div></div>