.auth {
  padding-top: 20px;
  padding-bottom: 75px;
}
.auth__breadcrumb {
  margin-bottom: 20px;
}
.auth__left {
  width: 455px;
}
.auth__title {
  margin-bottom: 40px;
}
.auth__text {
  margin-bottom: 37.5px;
}
.auth__field {
  margin-bottom: 15px;
}
.auth__or {
  text-align: center;
  margin-top: 40px;
}
.auth__or span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 22px;
  color: #76798A;
}
.auth__or span:before, .auth__or span:after {
  display: block;
  content: "";
  width: 150px;
  height: 1px;
  background: rgba(26, 32, 61, 0.05);
}
.auth__or span:before {
  margin-right: 15px;
}
.auth__or span:after {
  margin-left: 15px;
}
.auth__or p {
  line-height: 35px;
  color: #999999;
}
.auth__or p a {
  color: #F05454;
}
.auth__or p a:hover {
  border-color: #F05454;
}
.auth__check {
  margin-top: 30px;
  max-width: 340px;
}
.auth__check .check__wrap {
  color: #999999;
}
.auth__button {
  margin-top: 40px;
}
.auth__right {
  width: calc(100% - 455px);
  padding-left: 25px;
  position: relative;
}
.auth__img {
  z-index: -1;
  position: absolute;
  top: -60px;
  left: -275px;
  width: 1502px;
}

@media screen and (max-width: 991px) {
  .auth {
    padding-bottom: 50px;
  }
  .auth__right {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .auth {
    padding-top: 76px;
    padding-bottom: 0;
  }
  .auth__left {
    width: 100%;
  }
  .auth__title {
    font-size: 18px;
    line-height: 24px;
    padding-top: 5px;
    margin-bottom: 10px;
  }
  .auth__text {
    margin-bottom: 20px;
  }
  .auth__or {
    margin-top: 20px;
  }
  .auth__button {
    margin-top: 20px;
  }
  .auth__check {
    margin-top: 20px;
  }
}