<div class="auth">
<div class="case case_sm">
<!--[--><link rel="stylesheet" href="template/blocks/breadcrumb/breadcrumb.css?ver=1657142594581"/><div class="return auth__return hidden show-xs-flex"><div class="return__button">
<svg class="icon icon_chevron f-red">
<use xlink:href="#icon-chevron"></use>
</svg>
<span>Назад</span>
</div></div><link rel="stylesheet" href="template/blocks/return/return.css?ver=1657142594583"/><div class="auth__inner row">
<div class="auth__left"><div class="h1 auth__title"></div><div class="t1 auth__text"></div><form class="auth__form"><!---->
<div class="field field_sm field_b-gray auth__field" data-validation="phone">
<div class="field__head">
<!---->
<div class="field__title">
<!--[-->Телефон<!--]-->
</div>
<!---->
</div>
<div class="field__body">
<!----><!---->
<div class="field__inner">
<div class="field__placeholder">+7 888 888 88 88</div>
<input class="field__area" type="text" value="" name="name">
</div>
<!----><!---->
<div class="field__icon field__valid-icon field__icon_right">
<svg class="field__valid-successful icon icon_check-round f-green"><use xlink:href="#icon-check-round"></use></svg>
<svg class="field__valid-error icon icon_alert f-red"><use xlink:href="#icon-alert"></use></svg>
</div>
<!----><!---->
</div>
<div class="field__foot">
<!---->
<div class="field__valid">
<!----><!---->
</div>
<!---->
</div>
</div>
<div class="field field_sm field_b-gray field_password auth__field">
<div class="field__head">
<!---->
<div class="field__title">
<!--[-->Пароль<!--]-->
</div>
<!---->
</div>
<div class="field__body">
<!----><!---->
<div class="field__inner">
<div class="field__placeholder">Пароль</div>
<input class="field__area" type="password" value="" name="name">
</div>
<!----><!---->
<div class="field__visible field__icon field__icon_right">
<svg class="icon icon_eye">
<use xlink:href="#icon-eye"></use>
</svg>
<svg class="icon icon_eye-line">
<use xlink:href="#icon-eye-line"></use>
</svg>
</div>
<div class="field__icon field__valid-icon field__icon_right">
<svg class="field__valid-successful icon icon_check-round f-green"><use xlink:href="#icon-check-round"></use></svg>
<svg class="field__valid-error icon icon_alert f-red"><use xlink:href="#icon-alert"></use></svg>
</div>
<!---->
</div>
<div class="field__foot">
<!---->
<div class="field__valid">
<!----><!---->
</div>
<!---->
</div>
</div>
<!----><div class="auth__or">
<span>или</span><p>Нет учетной записи? <a href="/reg.html">Зарегистрироваться</a></p></div>
<a class="button button_md button_bg-red button_shadow-black auth__button" href="javascript:;">
<!----><!----><div class="button__text">Войти</div></a>
</form>
</div>
<div class="auth__right">
<div class="auth__img"><img src="uploads/auto-lg.png" alt=""></div>
</div>
</div>
<!--]-->
</div>
</div>