extends ../../templates/default
block vars
  -
    title = "Актуальное"
    breadcrumbs = [
      ['Главная', 'index.html'],
      [title]
    ]
block content
  include ../../../blocks/list/list
  +style('list', 'blocks')

  - questionsClass = 'hidden-xs'
  include ../../../blocks/questions/questions
  +style('questions', 'blocks')
  