@import '../../scss/vars';

.panel {
    z-index: 100;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #F1F1F1;

    &__wrap {
        align-items: center;
    }

    &__phone {
        align-items: center;
        border-bottom: none;
        margin-left: auto;
        border-bottom: none;

        &:after {
            content: '';
            width: 1px;
            height: 28px;
            background: $black;
            margin-left: 22px;
            margin-right: 18px;
        }

        svg {
            width: 15px;
            height: 15px;
            margin-right: 10px;
        }

        span {
            font-weight: 600;
        }
    }
}