.compare {
  padding-top: 20px;
  padding-bottom: 75px;
}
.compare__breadcrumb {
  margin-bottom: 20px;
}
.compare__title {
  margin-bottom: 40px;
}
.compare__desc {
  max-width: 450px;
  margin-bottom: 28px;
}
.compare .compare__slider {
  overflow: visible;
}
.compare .compare__item {
  width: 261px;
  margin-right: 20px;
}
.compare .compare__item:last-child {
  margin-right: 0;
}
.compare .compare__item .product__inner {
  height: auto;
}
.compare__alert {
  font-size: 18px;
  line-height: 24px;
  color: #F05454;
  padding-top: 20px;
}

@media screen and (max-width: 991px) {
  .compare {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .compare {
    padding-top: 77px;
    padding-bottom: 0;
  }
  .compare__title {
    font-size: 18px;
    line-height: 24px;
    padding-top: 5px;
    margin-bottom: 10px;
  }
  .compare__desc {
    margin-bottom: 15px;
  }
}