<div class="compare">
<div class="case case_sm">
<!--[--><link rel="stylesheet" href="template/blocks/breadcrumb/breadcrumb.css?ver=1656983145759"/><div class="return compare__return hidden show-xs-flex"><div class="return__button">
<svg class="icon icon_chevron f-red">
<use xlink:href="#icon-chevron"></use>
</svg>
<span>Назад</span>
</div></div><link rel="stylesheet" href="template/blocks/return/return.css?ver=1656983145760"/><div class="h1 compare__title">
<!--[-->Сравнение<!--]-->
</div>
<div class="t1 compare__desc">
<!--[-->Добро пожаловать в в интернет-магазин комплектующих для тюнинга «CARCAINE»<!--]-->
</div>
<div class="compare__slider swiper">
<div class="compare__list swiper-wrapper">
<!--[-->
<a class="product product_col compare__item swiper-slide" href="/catalog-item.html">
<div class="product__inner">
<div class="product__img img"><img src="uploads/products/product-1.jpg" alt="Винтовая подвеска BCR"></div>
<div class="product__content">
<div class="product__title">Винтовая подвеска BCR</div>
<div class="product__desc">Уникальное решение для точной настройки хода подвела меня тут</div>
<div class="product__data">
<div class="product__price">
<div class="product__price-current">12&nbsp;325 <span class="r"></span></div>
<div class="product__price-old">22&nbsp;759 <span class="r"></span></div>
</div>
<!--v-if--><!--v-if-->
<div class="product__button-comp nk product__button-comp_added">
<svg class="icon icon_scale">
<use xlink:href="#icon-scale"></use>
</svg>
</div>
<div class="product__button-add nk">
<svg class="icon icon_cart-add">
<use xlink:href="#icon-cart-add"></use>
</svg>
</div>
<!--v-if-->
</div>
</div>
</div>
<div class="product__chars">
<div class="product__chars-title">Основные характеристики</div>
<div class="product__chars-list">
<div class="product__chars-item">
<div class="product__chars-key">Артикул</div>
<div class="product__chars-value">H-04-2638</div>
</div>
<div class="product__chars-item">
<div class="product__chars-key">Артикул производителя</div>
<div class="product__chars-value">H-04-2638</div>
</div>
<div class="product__chars-item">
<div class="product__chars-key">Вид товара</div>
<div class="product__chars-value">Винтовая подвеска</div>
</div>
<div class="product__chars-item">
<div class="product__chars-key">Гарантия</div>
<div class="product__chars-value">1 год</div>
</div>
<div class="product__chars-item">
<div class="product__chars-key">Максимальное занижение, мм</div>
<div class="product__chars-value">100</div>
</div>
<div class="product__chars-item">
<div class="product__chars-key">Материал опор</div>
<div class="product__chars-value">Алюминий 6016</div>
</div>
<div class="product__chars-item">
<div class="product__chars-key">Материал пружин</div>
<div class="product__chars-value">SAE9254</div>
</div>
<div class="product__chars-item">
<div class="product__chars-key">Минимальное занижение, мм</div>
<div class="product__chars-value">5</div>
</div>
<div class="product__chars-item">
<div class="product__chars-key">Производитель</div>
<div class="product__chars-value">BC Racing</div>
</div>
<div class="product__chars-item">
<div class="product__chars-key">Страна производства</div>
<div class="product__chars-value">Тайвань</div>
</div>
<div class="product__chars-item">
<div class="product__chars-key">Оригинальный номер по vin</div>
<div class="product__chars-value">12344124124weq</div>
</div>
</div>
</div>
</a>
<a class="product product_col compare__item swiper-slide" href="/catalog-item.html">
<div class="product__inner">
<div class="product__img img"><img src="uploads/products/product-2.png" alt="Даунпайп для"></div>
<div class="product__content">
<div class="product__title">Даунпайп для</div>
<div class="product__desc">7880 collection for the earth and human environment</div>
<div class="product__data">
<div class="product__price">
<div class="product__price-current">25&nbsp;940 <span class="r"></span></div>
<div class="product__price-old">52&nbsp;499 <span class="r"></span></div>
</div>
<!--v-if--><!--v-if-->
<div class="product__button-comp nk product__button-comp_added">
<svg class="icon icon_scale">
<use xlink:href="#icon-scale"></use>
</svg>
</div>
<div class="product__button-add nk">
<svg class="icon icon_cart-add">
<use xlink:href="#icon-cart-add"></use>
</svg>
</div>
<!--v-if-->
</div>
</div>
</div>
<div class="product__chars">
<div class="product__chars-title">Основные характеристики</div>
<div class="product__chars-list"></div>
</div>
</a>
</div>
</div>
<!--]-->
</div>
</div>