.button {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-family: "Tahoma", sans-serif;
  overflow: hidden;
  border: none;
  background-color: transparent;
  transition: 0.3s;
  outline: none;
  border-bottom: none;
}
.button.--b-gray {
  border: 1px solid #eee;
  border-radius: 5px;
}
.button.--xs {
  font-size: 12px;
  min-height: 36px;
}
.button.--sm {
  font-size: 14px;
  min-height: 40px;
}
.button.--md {
  font-size: 16px;
  min-height: 46px;
}
.button.--lg {
  font-size: 20px;
  min-height: 60px;
}