@import '../../scss/vars';

.cart {
    z-index: 1;
    position: relative;
    padding-top: 19px;
    padding-bottom: 75px;

    &__wrap {
        padding-top: 20px;
    }

    &__return {
        display: inline-flex;
        align-items: center;
        height: 39px;
        cursor: pointer;

        svg {
            width: 12px;
            height: 8px;
            transform: rotate(90deg);
            margin-right: 8px;
        }

        span {
            color: $red;
            font-size: 18px;
            line-height: 24px;
        }
    }

    &__left {
        width: 540px;
    }

    &__right {
        width: calc(100% - 540px);
        padding-left: 53px;
    }

    &__title {
        margin-bottom: 28px;
    }

    &__item {
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__added {
        b {
            font-weight: 700;
        }

        u {
            color: $red;
        }

    }

    &__empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 462px;

        span {
            font-size: 30px;
            margin-top: 10px;
        }
    }

    &__info {
        margin-bottom: 25px;

    }

    &__delivery {
        &-title {
            color: #151D0C;
            max-width: 305px;
            margin-bottom: 10px;
        }
    }

    &__order {
        margin-bottom: 25px;
    }

    &__field {
        margin-bottom: 14px;
    }

    &__select {
        margin-bottom: 14px;
    }

    &__checks {
        &-title {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 15px;
        }

        &-item {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__price {
        display: inline-flex;
        align-items: center;
        // height: 44px;
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        color: #151D0C;
        // border: 1px solid #F5F5F5;
        border-radius: 4px;
        // padding: 0 41px 0 18px;
        // margin-top: 25px;
        margin-top: 10px;
        margin-bottom: 15px;

        var {
            color: $red;
            margin-left: 10px;
            margin-right: 6px;
        }

        .r {
            font-family: $ffMain;

            &:before {
                content: '₽';
                display: inline-block;
            }
        }
    }

    &__button-order {
        max-width: 355px;
        margin-top: 15px;
    }

    &__bg {
        width: 1502px;
        position: absolute;
        top: -100px;
        right: -770px;
    }

    &_order {
        min-height: 450px;
    }

}

@media screen and (max-width: 1150px) {
    .cart {
        &__bg {
            display: none;
        }

        &_order {
            min-height: 1px;
        }
    }

}

@media screen and (max-width: 1080px) {
    .cart {
        .case_sm {
            max-width: 560px;
        }

        &__left {
            width: 100%;
        }

        &__title {
            font-size: 32px;
            line-height: 38px;
        }

        &__empty {
            margin-left: auto;
            margin-right: auto;
        }

        &__right {
            width: 100%;
            margin-top: 30px;
            padding-left: 0;
        }

        &__info {
            // margin-bottom: 0;
        }

        &__delivery {
            display: none;
        }

        &__button {
            &-order {
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .cart {
        padding-top: 77px;
        padding-bottom: 40px;
        min-height: 100vh;

        &__wrap {
            padding-top: 5px;
        }

        &__title {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 20px;
            color: $black-dark;
        }

        &__empty {
            max-width: 250px;

            span {
                font-size: 22px;
                line-height: 22px;
                margin-top: 25px;
            }
        }

        &__right {
            margin-top: 0;

        }

        &__list {
            padding-bottom: 30px;
        }

        &__item {
            .product {
                &__desc {
                    display: none;
                }

                &__data {
                    align-items: flex-end;
                }

                &__price {
                    flex-direction: column;
                    align-items: flex-start;
                    white-space: nowrap;

                    &-current {
                        &_xs {
                            font-size: 10px;
                        }
                    }

                    &-total {
                        margin-left: 0;

                        .text-itog {
                            display: none;
                        }
                    }
                }
            }
        }

        &__button-order {
            z-index: 50;
            position: fixed !important;
            bottom: 25px;
            left: 10px;
            right: 10px;
            max-width: 100%;
        }

        &__info {
            margin-bottom: 0;
        }
    }

}