@charset "UTF-8";
.cart {
  z-index: 1;
  position: relative;
  padding-top: 19px;
  padding-bottom: 75px;
}
.cart__wrap {
  padding-top: 20px;
}
.cart__return {
  display: inline-flex;
  align-items: center;
  height: 39px;
  cursor: pointer;
}
.cart__return svg {
  width: 12px;
  height: 8px;
  transform: rotate(90deg);
  margin-right: 8px;
}
.cart__return span {
  color: #F05454;
  font-size: 18px;
  line-height: 24px;
}
.cart__left {
  width: 540px;
}
.cart__right {
  width: calc(100% - 540px);
  padding-left: 53px;
}
.cart__title {
  margin-bottom: 28px;
}
.cart__item {
  margin-bottom: 8px;
}
.cart__item:last-child {
  margin-bottom: 0;
}
.cart__added b {
  font-weight: 700;
}
.cart__added u {
  color: #F05454;
}
.cart__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 462px;
}
.cart__empty span {
  font-size: 30px;
  margin-top: 10px;
}
.cart__info {
  margin-bottom: 25px;
}
.cart__delivery-title {
  color: #151D0C;
  max-width: 305px;
  margin-bottom: 10px;
}
.cart__order {
  margin-bottom: 25px;
}
.cart__field {
  margin-bottom: 14px;
}
.cart__select {
  margin-bottom: 14px;
}
.cart__checks-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}
.cart__checks-item {
  margin-bottom: 15px;
}
.cart__checks-item:last-child {
  margin-bottom: 0;
}
.cart__price {
  display: inline-flex;
  align-items: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #151D0C;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.cart__price var {
  color: #F05454;
  margin-left: 10px;
  margin-right: 6px;
}
.cart__price .r {
  font-family: "Open Sans", sans-serif;
}
.cart__price .r:before {
  content: "₽";
  display: inline-block;
}
.cart__button-order {
  max-width: 355px;
  margin-top: 15px;
}
.cart__bg {
  width: 1502px;
  position: absolute;
  top: -100px;
  right: -770px;
}
.cart_order {
  min-height: 450px;
}

@media screen and (max-width: 1150px) {
  .cart__bg {
    display: none;
  }
  .cart_order {
    min-height: 1px;
  }
}
@media screen and (max-width: 1080px) {
  .cart .case_sm {
    max-width: 560px;
  }
  .cart__left {
    width: 100%;
  }
  .cart__title {
    font-size: 32px;
    line-height: 38px;
  }
  .cart__empty {
    margin-left: auto;
    margin-right: auto;
  }
  .cart__right {
    width: 100%;
    margin-top: 30px;
    padding-left: 0;
  }
  .cart__delivery {
    display: none;
  }
  .cart__button-order:first-child {
    margin-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .cart {
    padding-top: 77px;
    padding-bottom: 40px;
    min-height: 100vh;
  }
  .cart__wrap {
    padding-top: 5px;
  }
  .cart__title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    color: #262626;
  }
  .cart__empty {
    max-width: 250px;
  }
  .cart__empty span {
    font-size: 22px;
    line-height: 22px;
    margin-top: 25px;
  }
  .cart__right {
    margin-top: 0;
  }
  .cart__list {
    padding-bottom: 30px;
  }
  .cart__item .product__desc {
    display: none;
  }
  .cart__item .product__data {
    align-items: flex-end;
  }
  .cart__item .product__price {
    flex-direction: column;
    align-items: flex-start;
    white-space: nowrap;
  }
  .cart__item .product__price-current_xs {
    font-size: 10px;
  }
  .cart__item .product__price-total {
    margin-left: 0;
  }
  .cart__item .product__price-total .text-itog {
    display: none;
  }
  .cart__button-order {
    z-index: 50;
    position: fixed !important;
    bottom: 25px;
    left: 10px;
    right: 10px;
    max-width: 100%;
  }
  .cart__info {
    margin-bottom: 0;
  }
}