<div class="cart">
<div class="case case_sm"><link rel="stylesheet" href="template/blocks/breadcrumb/breadcrumb.css?ver=1657142676930"/><div class="return cart__return hidden show-xs-flex"><div class="return__button">
<svg class="icon icon_chevron f-red">
<use xlink:href="#icon-chevron"></use>
</svg>
<span>Назад</span>
</div></div><link rel="stylesheet" href="template/blocks/return/return.css?ver=1657142676932"/><link rel="stylesheet" href="template/components/incdec/incdec.css?ver=1657142676932"/><!--v-if--><!--v-if-->
<div class="cart__wrap row">
<div class="cart__left"><div class="h1 cart__title"></div><div class="cart__list">
<a class="product product_has-remove product_row cart__item" href="/catalog/2">
<div class="product__inner">
<div class="product__img img"><img src="/uploads/products/product-2.png" alt="Даунпайп для"></div>
<div class="product__content">
<div class="product__title">Даунпайп для</div>
<div class="product__desc">7880 collection for the earth and human environment</div>
<div class="product__data">
<div class="product__price">
<div class="product__price-current">шт. 25&nbsp;940 <span class="r"></span></div>
<!--v-if-->
</div><div class="product__button-remove nk">
<svg class="icon icon_trash">
<use xlink:href="#icon-trash"></use>
</svg>
</div>
<!--v-if--><!--v-if--><!--v-if-->
<div class="incdec product__incdec nk" value="1">
<div class="incdec__button incdec__button_plus"></div>
<input class="incdec__input" type="tel" value="1">
<div class="incdec__button incdec__button_minus incdec__button_disabled"></div>
</div></div>
</div>
</div>
<!--v-if--><!--v-if-->
</a>
<a class="product product_has-remove product_row cart__item" href="/catalog/3">
<div class="product__inner">
<div class="product__img img"><img src="/uploads/products/product-3.jpg" alt="Винтовая подвеска BCR"></div>
<div class="product__content">
<div class="product__title">Винтовая подвеска BCR</div>
<div class="product__desc">Уникальное решение для точной настройки хода подвела меня тут</div>
<div class="product__data">
<div class="product__price">
<div class="product__price-current">шт. 12&nbsp;325 <span class="r"></span></div>
<!--v-if-->
</div><div class="product__button-remove nk">
<svg class="icon icon_trash">
<use xlink:href="#icon-trash"></use>
</svg>
</div>
<!--v-if--><!--v-if--><!--v-if-->
<div class="incdec product__incdec nk" value="1">
<div class="incdec__button incdec__button_plus"></div>
<input class="incdec__input" type="tel" value="1">
<div class="incdec__button incdec__button_minus incdec__button_disabled"></div>
</div></div>
</div>
</div>
<!--v-if--><!--v-if-->
</a>
<a class="product product_has-remove product_row cart__item" href="/catalog/4">
<div class="product__inner">
<div class="product__img img"><img src="/uploads/products/product-4.jpg" alt="Винтовая подвеска BCR"></div>
<div class="product__content">
<div class="product__title">Винтовая подвеска BCR</div>
<div class="product__desc">Уникальное решение для точной настройки хода подвела меня тут</div>
<div class="product__data">
<div class="product__price">
<div class="product__price-current">шт. 12&nbsp;325 <span class="r"></span></div>
<!--v-if-->
</div><div class="product__button-remove nk">
<svg class="icon icon_trash">
<use xlink:href="#icon-trash"></use>
</svg>
</div>
<!--v-if--><!--v-if--><!--v-if-->
<div class="incdec product__incdec nk" value="1">
<div class="incdec__button incdec__button_plus"></div>
<input class="incdec__input" type="tel" value="1">
<div class="incdec__button incdec__button_minus incdec__button_disabled"></div>
</div></div>
</div>
</div>
<!--v-if--><!--v-if-->
</a>
<a class="product product_has-remove product_row cart__item" href="/catalog/5">
<div class="product__inner">
<div class="product__img img"><img src="/uploads/products/product-5.jpg" alt="Винтовая подвеска BCR"></div>
<div class="product__content">
<div class="product__title">Винтовая подвеска BCR</div>
<div class="product__desc">Уникальное решение для точной настройки хода подвела меня тут</div>
<div class="product__data">
<div class="product__price">
<div class="product__price-current">шт. 12&nbsp;325 <span class="r"></span></div>
<!--v-if-->
</div><div class="product__button-remove nk">
<svg class="icon icon_trash">
<use xlink:href="#icon-trash"></use>
</svg>
</div>
<!--v-if--><!--v-if--><!--v-if-->
<div class="incdec product__incdec nk" value="1">
<div class="incdec__button incdec__button_plus"></div>
<input class="incdec__input" type="tel" value="1">
<div class="incdec__button incdec__button_minus incdec__button_disabled"></div>
</div></div>
</div>
</div>
<!--v-if--><!--v-if-->
</a>
</div><script src="template/components/incdec/incdec.js?ver=1657142676932"></script></div>
<div class="cart__right"><div class="cart__info">
<div class="cart__delivery">
<div class="h3 cart__delivery-title">Условия доставки и оплаты</div>
<div class="t2 cart__delivery-text">Представленные предложения ввиду своего комплексного характера сочетают в себе выгоду при затратах времени и средств и полноту реализации выбранного вами уровня усовершенствования.Представленные предложения ввиду своего комплексного характера сочетают в себе выгоду при затратах времени и средств и </div>
</div>
</div><div class="cart__price">Итого: <var>62&nbsp;915</var> <span class="r"></span></div><a class="button button_md button_bg-red cart__button-order" href="order.html">
<!--v-if--><!--v-if-->
<div class="button__text">Оформить заказ</div>
<!--v-if-->
</a></div>
<!--v-if-->
</div>
</div>
</div>