*, :before, :after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body {
  color: #000000;
  font-size: 16px;
  font-family: "Tahoma", sans-serif;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  display: inline;
}

ol, ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

li {
  display: block;
  list-style-image: none;
}

a {
  color: #000000;
  text-decoration: none;
  outline: none;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
}

input, textarea, button {
  outline: none;
  appearance: none;
}

var {
  font-style: normal;
}

strong {
  font-weight: 700;
}

i {
  font-style: normal;
}

u {
  text-decoration: none;
}

picture {
  display: block;
}

img {
  display: block;
  max-width: 100% !important;
  max-height: 100% !important;
}

svg {
  display: block;
}

img, svg, path, circle, rect, line {
  transition: 0.3s;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.case {
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 1170px;
}
.case .case {
  padding-left: 0;
  padding-right: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.left {
  margin-right: auto;
}

.mid {
  margin-left: auto;
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.button {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-family: "Tahoma", sans-serif;
  overflow: hidden;
  border: none;
  background-color: transparent;
  transition: 0.3s;
  outline: none;
  border-bottom: none;
}
.button.--b-gray {
  border: 1px solid #eee;
  border-radius: 5px;
}
.button.--xs {
  font-size: 12px;
  min-height: 36px;
}
.button.--sm {
  font-size: 14px;
  min-height: 40px;
}
.button.--md {
  font-size: 16px;
  min-height: 46px;
}
.button.--lg {
  font-size: 20px;
  min-height: 60px;
}

.field__wrap {
  position: relative;
  cursor: text;
}
.field__area {
  display: block;
  font-size: 16px;
  font-family: "Tahoma", sans-serif;
  width: 100%;
  overflow: hidden;
  resize: none;
  transition: 0.3s;
}
.field__area::placeholder {
  opacity: 0;
}
.field__placeholder {
  position: absolute;
  left: 0;
  right: 0;
  transition: opacity 0.3s;
}
.field__message {
  display: none;
  color: #f00;
}
.field.--input .field__placeholder {
  top: 50%;
  transform: translateY(-50%);
}
.field.--textarea .field__placeholder {
  top: 0;
}
.field.--xs .field__placeholder {
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
.field.--xs.--textarea .field__placeholder {
  line-height: 1.4;
  padding-top: 8px;
}
.field.--xs input.field__area {
  font-size: 12px;
  height: 46px;
  padding-left: 10px;
  padding-right: 10px;
}
.field.--xs textarea.field__area {
  font-size: 12px;
  line-height: 1.4;
  height: 100px;
  padding: 8px 10px 8px 10px;
}
.field.--sm .field__placeholder {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}
.field.--sm.--textarea .field__placeholder {
  line-height: 1.4;
  padding-top: 8px;
}
.field.--sm input.field__area {
  font-size: 14px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.field.--sm textarea.field__area {
  font-size: 14px;
  line-height: 1.4;
  height: 80px;
  padding: 8px 10px 8px 10px;
}
.field.--md .field__placeholder {
  font-size: 16px;
  padding-left: 18px;
  padding-right: 18px;
}
.field.--md.--textarea .field__placeholder {
  line-height: 1.4;
  padding-top: 16px;
}
.field.--md input.field__area {
  font-size: 16px;
  height: 56px;
  padding-left: 18px;
  padding-right: 18px;
}
.field.--md textarea.field__area {
  font-size: 16px;
  line-height: 1.4;
  height: 120px;
  padding: 16px 18px 16px 18px;
}
.field.--lg .field__placeholder {
  font-size: 18px;
  padding-left: 25px;
  padding-right: 25px;
}
.field.--lg.--textarea .field__placeholder {
  line-height: 1.4;
  padding-top: 23px;
}
.field.--lg input.field__area {
  font-size: 18px;
  height: 62px;
  padding-left: 25px;
  padding-right: 25px;
}
.field.--lg textarea.field__area {
  font-size: 18px;
  line-height: 1.4;
  height: 160px;
  padding: 23px 25px 23px 25px;
}
.field.--b-gray .field__area {
  border: 1px solid #eee;
  border-radius: 5px;
}
.field.--focus .field__placeholder, .field.--filled .field__placeholder {
  opacity: 0;
}
.field.--error .field__area {
  border-color: #f00;
}
.field.--error .field__message {
  display: block;
}

.check {
  display: inline-flex;
  cursor: pointer;
}
.check__input {
  display: none;
}
.check__box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.3s;
}
.check__box:before {
  content: "";
  width: 100%;
  height: 100%;
  transition: 0.3s;
  opacity: 0;
  border-radius: 3px;
  transform: scale(0);
  background-color: #000000;
}
.check.--block {
  display: flex;
}
.check.--b-gray .check__box {
  border: 1px solid #eee;
}
.check.--md .check__box {
  min-width: 20px;
  width: 20px;
  height: 20px;
  padding: 3px;
}
.check.--md .check__wrap {
  width: calc(100% - 20px);
  padding-left: 10px;
  padding-top: 2px;
}
.check.--checkbox .check__box {
  border-radius: 5px;
}
.check.--radio .check__box {
  border-radius: 50%;
}
.check.--radio .check__box:before {
  border-radius: 50%;
}
.check.--toggle .check__box {
  width: 40px;
}
.check.--toggle .check__box:before {
  opacity: 0.4;
  width: 12px;
  transform: none;
  margin-left: 12px;
}
.check.--toggle.--checked .check__box:before {
  opacity: 1;
  margin-left: -12px;
}
.check.--checked .check__box:before {
  opacity: 1;
  transform: scale(1);
}

.select {
  position: relative;
  cursor: pointer;
}
.select__wrap {
  position: relative;
}
.select__area {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid transparent;
}
.select__title {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.select__icon svg {
  transition: 0.3s;
}
.select__drop {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  border: 1px solid transparent;
  border-top: none;
  transform: translateY(10px);
  overflow-y: auto;
}
.select__item {
  transition: 0.3s;
}
.select__item.--hidden {
  display: none;
}
.select__parse {
  display: none;
}
.select.--md .select__area {
  min-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.select.--md .select__drop {
  max-height: 200px;
}
.select.--md .select__item {
  padding: 5px 10px;
}
.select.--b-gray .select__area {
  border-radius: 5px;
  border-color: #eee;
}
.select.--b-gray .select__drop {
  border-radius: 0 0 5px 5px;
  border-color: #eee;
  background-color: #fff;
}
.select.--b-gray .select__item.--selected {
  background-color: #eee;
}
.select.--open {
  z-index: 5;
}
.select.--open .select__area {
  border-radius: 5px 5px 0 0;
}
.select.--open .select__icon svg {
  transform: rotate(180deg);
}
.select.--open .select__drop {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

body.popup-show {
  overflow: hidden;
  height: 100%;
  margin-right: 12px;
}

.popup {
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.popup__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  overflow-y: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
}
.popup__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.popup.--show {
  opacity: 1;
  visibility: visible;
}

.tal {
  text-align-last: left;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.overflow-disable {
  overflow: hidden;
}