extends ../../templates/default
block vars
  -
    title = "Профиль"
    breadcrumbs = [
      ['Главная', 'index.html'],
      [title]
    ]
block content
  include ../../../blocks/profile/profile
  +style('profile', 'blocks')

  - questionsClass = 'hidden-xs'
  include ../../../blocks/questions/questions
  +style('questions', 'blocks')
  