<div class="list">
<div class="case">
<!--[--><link rel="stylesheet" href="template/blocks/breadcrumb/breadcrumb.css?ver=1656506759599"/><div class="return list__return hidden show-xs-flex"><div class="return__button">
<svg class="icon icon_chevron f-red">
<use xlink:href="#icon-chevron"></use>
</svg>
<span>Назад</span>
</div></div><div class="h1 list__title">
<!--[-->Актуальное<!--]-->
</div>
<div class="list__wrap">
<div class="list__links">
<div class="list__link_current list__link" data-text="Все">Все</div>
<div class="list__link" data-text="Блог">Блог</div>
<div class="list__link" data-text="Новости">Новости</div>
<div class="list__link" data-text="Акции">Акции</div>
</div>
<div class="list__inner row">
<!--[--><!--[-->
<a class="list__item" href="/news/item">
<div class="list__item-img"><img src="/uploads/actual/1.png" alt=""></div>
<div class="list__item-title">Ломается ли ваг? После тюнинга</div>
<div class="list__item-desc">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="list__item-data">
<div class="list__item-date">12 января</div>
<div class="list__item-cat">Видеоблог</div>
</div>
</a>
<!--]--><!--[-->
<a class="list__item" href="/news/item">
<div class="list__item-img"><img src="/uploads/actual/2.png" alt=""></div>
<div class="list__item-title">Ломается ли ваг? После тюнинга</div>
<div class="list__item-desc">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="list__item-data">
<div class="list__item-date">12 января</div>
<div class="list__item-cat">Видеоблог</div>
</div>
</a>
<!--]--><!--[-->
<a class="list__item" href="/news/item">
<div class="list__item-img"><img src="/uploads/actual/1.png" alt=""></div>
<div class="list__item-title">Почему мы стоит менять диски?</div>
<div class="list__item-desc">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="list__item-data">
<div class="list__item-date">12 января</div>
<div class="list__item-cat">Акция</div>
</div>
</a>
<!--]--><!--[-->
<a class="list__item" href="/news/item">
<div class="list__item-img"><img src="/uploads/actual/2.png" alt=""></div>
<div class="list__item-title">Почему мы стоит менять диски?</div>
<div class="list__item-desc">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="list__item-data">
<div class="list__item-date">12 января</div>
<div class="list__item-cat">Новости</div>
</div>
</a>
<!--]--><!--[-->
<a class="list__item" href="/news/item">
<div class="list__item-img"><img src="/uploads/actual/1.png" alt=""></div>
<div class="list__item-title">Почему мы стоит менять диски?</div>
<div class="list__item-desc">Все что вы хотели спросить, но боялись. Расказываем, что будет с вашим поло после stage 3 REVO</div>
<div class="list__item-data">
<div class="list__item-date">12 января</div>
<div class="list__item-cat">Видеоблог</div>
</div>
</a>
<!--]--><!--]-->
</div><div class="pagination list__pagination"><div class="pagination__list row"><a class="pagination__item pagination__item_current" href="?page=1">1</a><a class="pagination__item" href="?page=2">2</a><a class="pagination__item" href="?page=3">3</a><a class="pagination__item" href="?page=4">4</a><a class="pagination__item" href="?page=5">5</a></div></div><link rel="stylesheet" href="template/blocks/pagination/pagination.css?ver=1656506759599"/></div>
<!--]-->
</div>
</div>