extends ../../templates/default
block vars
  -
    title = "Корзина"
    breadcrumbs = [
      ['Главная', 'index.html'],
      [title]
    ]
block content
  - cartTitle = 'Корзина'
  include ../../../blocks/cart/cart
  +style('cart', 'blocks')

  - questionsClass = 'hidden-xs'
  include ../../../blocks/questions/questions
  +style('questions', 'blocks')