@import '../../scss/vars';

.return {
    display: flex;
    align-items: center;
    height: 39px;
    cursor: pointer;

    &__button {
        display: flex;
        align-items: center;

        svg {
            width: 12px;
            height: 8px;
            transform: rotate(90deg);
            margin-right: 8px;
        }

        span {
            color: $red;
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__share {
        margin-left: auto;

    }

}