include ../../pug/vars

div(class="return" class=returnClass)
	<div class="return__button">
		<svg class="icon icon_chevron f-red">
			<use xlink:href="#icon-chevron"></use>
		</svg>
		<span>Назад</span>
	</div>
	if returnShare
		<div class="share return__share">
			<div class="share__button">
				<span>Поделиться</span>
				<svg class="icon icon_union">
					<use xlink:href="#icon-union"></use>
				</svg>
			</div>
		</div>
		+style('share', 'blocks')