include ../../pug/vars

.header
	include ../panel/panel
	+style('panel', 'blocks')

	<div class="case">
		<!--[-->
		<div class="header__inner row">
			<a class="logo header__logo" href="index.html">
				<div class="logo__icon">
					<svg viewBox="0 0 57 29" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6.09716 0.5H56.4153C56.4153 0.5 54.4996 14.1713 45.1767 20.0868L51.8177 28.3685L33.3635 28.4342L30.6177 24.6878L29.4683 28.5L8.7395 28.4382C8.7395 28.4382 -0.857985 28.9233 0.565992 16.7479C1.01809 12.8055 6.09716 0.5 6.09716 0.5Z" fill="white"></path>
						<path d="M9.08991 4.20564L15.8663 4.18066C14.4742 8.18611 11.9902 15.1362 11.8293 15.9932C11.5151 17.6746 11.6058 18.6933 12.2265 19.4295C12.897 20.2182 13.9557 20.4299 14.7948 20.4667C16.441 20.5219 18.9952 20.6126 20.6554 20.4811C20.6554 20.4811 20.7538 20.5771 21.1663 19.5609L24.6783 9.11024H39.2374C39.2374 9.11024 38.7265 12.0023 35.7892 12.2652C33.9979 12.4237 32.1987 12.465 30.4023 12.3887L26.4663 24.4905L9.99155 24.622C8.8728 24.5431 7.09889 24.2197 5.88947 22.8539C4.61235 21.4079 4.70558 19.0101 4.84479 17.8586C4.88821 17.4984 5.60467 14.3869 5.71323 14.0464L9.08991 4.20564Z" fill="#D9211C"></path>
						<path d="M17.3986 4.24658L13.4664 16.1407C13.4664 16.1407 12.7218 18.5502 14.0462 18.821C15.6273 19.1444 17.313 19.1181 18.4778 19.084C19.1789 19.0655 19.6272 19.0301 19.6272 19.0301L20.1559 17.4526L23.1852 8.38217C23.5862 7.20959 23.4585 7.47249 24.5287 7.40677H41.9191C41.8632 7.81786 41.7674 8.22214 41.633 8.61353C40.559 11.8855 37.499 14.0242 34.1441 13.9283L31.383 13.9138L30.1697 18.449L35.0227 24.3645H43.8348L38.5348 17.5946H38.9179C38.9179 17.5946 47.283 17.5288 51.1143 4.25184L17.3986 4.24658Z" fill="#1D1D1B"></path>
					</svg>
				</div>
				<div class="logo__title">Магазин Автотюнинга</div>
			</a>
			<nav class="header__links">
				<!--[--><a href="/" class="header__links-item">главная</a>
				<a href="/catalog.html" class="header__links-item">каталог</a>
				<a href="/info.html" class="header__links-item">информация</a>
				<a href="/contacts.html" class="header__links-item">контакты</a>
				<a href="javascript:;" class="header__links-item toggler-nav">еще...</a><!--]-->
			</nav>
			<a class="button header__button-search toggler-search" href="javascript:;">
				<div class="button__icon">
					<!--[-->
					<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="10.8958" cy="10.8949" r="9.20833" stroke="#F05454" stroke-width="2"></circle>
						<rect x="16.0508" y="18.1133" width="2.91667" height="10.2083" transform="rotate(-45 16.0508 18.1133)" fill="#F05454"></rect>
					</svg>
					<!--]-->
				</div>
				<!----><!----><!---->
			</a>
			<a class="button header__button-favorit" href="/favorit.html">
				<div class="button__icon">
					<!--[-->
					<svg width="23" height="30" viewBox="0 0 23 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19.7143 0H3.28571C1.47857 0 0.0164289 1.5 0.0164289 3.33333L0 30L11.5 25L23 30V3.33333C23 1.5 21.5214 0 19.7143 0ZM20.7143 26L11.5 22.5L2.28571 26V2.33333H20.7143V26Z" fill="#F05454"></path>
					</svg>
					<!--]-->
				</div>
				<!----><!----><!---->
			</a>
			<a class="button header__button-cart" href="/basket.html">
				<div class="button__icon">
					<!--[-->
					<svg width="29" height="30" viewBox="0 0 29 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M27.6502 4.82803C27.3078 4.42828 26.8791 4.10678 26.3945 3.88636C25.91 3.66594 25.3815 3.552 24.8466 3.55263H5.1641L5.11297 3.13697C5.00833 2.27299 4.58144 1.47639 3.91323 0.898197C3.24502 0.320001 2.38195 0.000404755 1.48763 0H1.21737C0.894505 0 0.584862 0.124765 0.35656 0.346847C0.128259 0.56893 0 0.870138 0 1.18421C0 1.49828 0.128259 1.79949 0.35656 2.02157C0.584862 2.24366 0.894505 2.36842 1.21737 2.36842H1.48763C1.7858 2.36846 2.0736 2.47495 2.29642 2.66769C2.51924 2.86043 2.66159 3.12602 2.69648 3.41408L4.37159 17.2693C4.54549 18.7103 5.2572 20.039 6.37162 21.0032C7.48604 21.9674 8.9256 22.5 10.4171 22.5H23.1301C23.4529 22.5 23.7626 22.3752 23.9909 22.1532C24.2192 21.9311 24.3475 21.6299 24.3475 21.3158C24.3475 21.0017 24.2192 20.7005 23.9909 20.4784C23.7626 20.2563 23.4529 20.1316 23.1301 20.1316H10.4171C9.66357 20.1295 8.92918 19.9008 8.31458 19.4768C7.69997 19.0528 7.23523 18.4542 6.98407 17.7632H21.4951C22.9223 17.7632 24.304 17.2755 25.399 16.3853C26.4941 15.495 27.2327 14.2587 27.4858 12.8925L28.4415 7.73645C28.5369 7.22488 28.5154 6.69916 28.3787 6.19654C28.2419 5.69393 27.9932 5.22672 27.6502 4.82803ZM26.0518 7.31605L25.0949 12.4721C24.9429 13.2928 24.499 14.0353 23.8409 14.5696C23.1827 15.1039 22.3524 15.396 21.4951 15.3947H6.59694L5.4514 5.92105H24.8466C25.0254 5.92001 25.2023 5.95731 25.3646 6.0303C25.5269 6.10329 25.6708 6.21017 25.7858 6.34335C25.9009 6.47653 25.9843 6.63273 26.0303 6.80085C26.0763 6.96896 26.0836 7.14487 26.0518 7.31605ZM8.74976 29.9998C10.1305 29.9998 11.2498 28.8805 11.2498 27.4998C11.2498 26.119 10.1305 24.9998 8.74976 24.9998C7.36904 24.9998 6.24976 26.119 6.24976 27.4998C6.24976 28.8805 7.36904 29.9998 8.74976 29.9998ZM23.75 27.4998C23.75 28.8805 22.6307 29.9998 21.25 29.9998C19.8693 29.9998 18.75 28.8805 18.75 27.4998C18.75 26.119 19.8693 24.9998 21.25 24.9998C22.6307 24.9998 23.75 26.119 23.75 27.4998Z" fill="#F05454"></path>
					</svg>
					<!--]-->
				</div>
				<!---->
				<div class="button__text">
					<!--[--><span class="cart-count">0</span><!--]-->
				</div>
				<!---->
			</a>
			<div class="header__ham toggler-nav">
				<div></div>
				<div></div>
				<div></div>
			</div>
			<a class="button button_md button_bg-red header__button-selection" href="/select.html">
				<!----><!---->
				<div class="button__text">
					<!--[-->Подбор по автомобилю<!--]-->
				</div>
				<!---->
			</a>

			include ../search/search
			+style('search', 'blocks')
			+script('search', 'blocks')
		</div>
		<!--]-->
	</div>

	include ../nav/nav
	+style('nav', 'blocks')
	+script('nav', 'blocks')